@model TIPS.Entities.AdminTemplateEntities.AdminTemplateStaffDetails_vw
@{
    Layout = "~/Views/Shared/NewAcePartialViewMaster.cshtml";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script type="text/javascript">
    try { ace.settings.check('main-container', 'fixed') } catch (e) { }
</script>
<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
        <div class="row" style="padding-top: 5px;">
            <div id="CampusWiseReport" style="padding-left: 40px;">
                <p style="font-family: Verdana; font-size: 10px; font-weight: bold; padding-left: 5px;">
                    Campus Wise Registered Staff Counts Report</p>
                <div class="row" style="padding-top: 3px;">
                    <div class="col-xs-12 infobox-container">
                        <div class="col-sm-2">
                            <div class="infobox infobox-red">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_IBKGCount</span>
                                    <div class="infobox-content">
                                        IB KG</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-DarkGreen">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_IBMAINCount</span>
                                    <div class="infobox-content">
                                        IB MAIN</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-indigo">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_KARURKGCount</span>
                                    <div class="infobox-content">
                                        Karur KG</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-emerald">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_KARURCount</span>
                                    <div class="infobox-content">
                                        Karur Main</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-orange2">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_TIRUPURKGCount</span>
                                    <div class="infobox-content">
                                        Tirupur KG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-2">
                </div>
                <div class="row">
                    <div class="col-xs-12 infobox-container">
                        <div class="col-sm-2">
                            <div class="infobox infobox-DarkMegenta">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_TIRUPURCount</span>
                                    <div class="infobox-content">
                                        Tirupur Main</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-brown">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_ERNAKULAMKGCount</span>
                                    <div class="infobox-content">
                                        Ernakulam Kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-DeepPink">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_ERNAKULAMCount</span>
                                    <div class="infobox-content">
                                        Ernakulam Main</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-Teal">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_CHENNAICITYCount</span>
                                    <div class="infobox-content">
                                        Chennai City</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="infobox infobox-orange">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-book"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">@ViewBag.Staff_CHENNAIMAINCount</span>
                                    <div class="infobox-content">
                                        Chennai Main</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-2">
                </div>
                <div class="row" style="padding-top: 3px;">
                    <div class="col-sm-12 infobox-container">
                        <div class="infobox infobox-OrangeRed infobox-small infobox-dark">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-book"></i>
                            </div>
                            <div class="infobox-data">
                                <div class="infobox-content">
                                    Erode</div>
                                <div class="infobox-content">@ViewBag.Staff_TIPSERODECount</div>
                            </div>
                        </div>
                        <div class="infobox infobox-green infobox-small infobox-dark">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-book"></i>
                            </div>
                            <div class="infobox-data">
                                <div class="infobox-content">
                                    Salem</div>
                                <div class="infobox-content">@ViewBag.Staff_TIPSSALEMCount</div>
                            </div>
                        </div>
                        <div class="infobox infobox-blue infobox-small infobox-dark">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-book"></i>
                            </div>
                            <div class="infobox-data">
                                <div class="infobox-content">
                                    Saran</div>
                                <div class="infobox-content">@ViewBag.Staff_TIPSSARANCount</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="row" style="padding-top: 3px; padding-left: 400px;">
                    <button type="button" class="btn btn-info" onclick="GetDeptWiseReport()">
                        Get Deparment Wise Report</button>
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
                <div class="space-8">
                </div>
            </div>
            <div id="DeptWiseReport" style="padding-left: 40px;">
                <div class="row">
                    <div class="col-xs-12" style="font-size: 12px;" align="right">
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-2">
                            <label for="form-field-select-1">
                                <b>Select Campus</b></label></div>
                        <div class="col-xs-2">
                            @Html.DropDownListFor(model => model.Campus, new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @Class = "form-control select-sm", id = "ddlCampusList", style = "width:150px;" })
                        </div>
                    </div>
                </div>
                <div id="StaffDeptWiseChart" style="padding-left: 30px;" align="center">
                </div>
                <div class="row" style="padding-top: 3px; padding-left: 450px;">
                    <button type="button" class="btn btn-info" onclick="GetCampusWiseReport()">
                        Get Campus Wise Report</button>
                </div>
            </div>
        </div>
         <div class="space-4">
                </div>
    </div>
    <!-- /.page-content-area -->
</div>
<script type="text/javascript">    if ('ontouchstart' in document.documentElement)
        document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>" + "<" +
"/script>"); </script>
<!-- inline scripts related to this page -->
<script src="../../Scripts/AdminTemplateScripts/StaffManagement.js" type="text/javascript"></script>
