@model TIPS.Entities.TransportEntities.DriverMaster
@if (Model != null)
{
    <div class="row">
    <div class="col-sm-2">
        <label for="form-field-select-2">
            <b>Name :</b></label></div>
    <div class="col-sm-2">
        @Model.Name
    </div>
    <div class="col-sm-2">
        @*<input type="hidden" id="grade" value="@ViewBag.grade" />
        <input type="hidden" id="nam" value="@ViewBag.nam" />*@
    </div>
</div>
<div class="space-8">
</div>
<div class="space-8">
</div>
<div class="row">
    <div class="col-sm-2">
        <label for="form-field-select-2">
            <b>Id Number :</b></label></div>
    <div class="col-sm-2">
        @Model.DriverIdNo
    </div>
</div>
<div class="space-8">
</div>
<div class="space-8">
</div>
<div class="row">
    <div class="col-sm-2">
        <label for="form-field-select-2">
            <b>Designation :</b></label></div>
    <div class="col-sm-2">
        @Model.Designation
    </div>
</div>
<div class="space-8">
</div>
<div class="space-8">
</div>
<div class="row">
    <div class="col-sm-2">
        <label for="form-field-select-2">
            <b>Campus :</b></label></div>
    <div class="col-sm-2">
        @Model.Campus
    </div>
</div>
<div class="space-8">
</div>
<div class="space-8">
</div>
<div class="row">
    <div class="col-sm-2">
        <label for="form-field-select-2">
            <b>Status :</b></label></div>
    <div class="col-sm-2">
        @if ((ViewBag.Registerstatus == "Registered") || (ViewBag.Registerstatus == "Declined") || (ViewBag.Registerstatus == "Inactive"))
        {
            @Html.DropDownListFor(model => model.Status, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Registered",Text="Registered"},
                                              new{Value="Inactive",Text="Inactive"}                                              
                                          }, "Value", "Text", ""), new { id = "Status", @Class = "form-control select-sm" })
        }
        else if ((ViewBag.Registerstatus == "Discontinued"))
        {
            @Html.DropDownListFor(model => model.Status, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Discontinued",Text="Discontinued"}                                       
                                          }, "Value", "Text", ""), new { id = "Status", @Class = "form-control select-sm" })
        }
        else
        {                                                                 
            @Html.DropDownListFor(model => model.Status, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Registered",Text="Registered"},
                                              new{Value="On Hold",Text="On Hold"},
                                              new{Value="Declined",Text="Declined"},
                                              new{Value="Call For Interview",Text="Call For Interview"},
                                              new{Value="Inactive",Text="Inactive"}
                                          }, "Value", "Text", ""), new { id = "Status", @Class = "form-control select-sm" })
        }
    </div>
</div>
<div class="space-8">
</div>
}
else
{
    <div class="space-70">
</div>
}
