@{
    ViewBag.Title = "FuelRefillBulkEntryList";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<h3>
    Fuel Refill Bulk Entry List</h3>
<script type="text/javascript">
    $(document).ready(function () {
        var status = $("#ddlStatus").val();
        function formateadorLink(cellvalue, options, rowObject) {
            if (rowObject[7] == "Open") {
                return "<a href=/Transport/FuelRefillBulkEntry?Id=" + rowObject[0] + ">" + cellvalue + "</a>";
            }
            else {
                return "<a href=/Transport/ShowFuelRefill?Id=" + rowObject[0] + ">" + cellvalue + "</a>";
            }
        }

        $("#Search").click(function () {
            $("#FuelRefillList").clearGridData();
            status = $("#ddlStatus").val();
            $("#FuelRefillList").setGridParam(
                {
                    datatype: "json",
                    url: '@Url.Content("~/Transport/DistanceCoveredBulkEntryJqGrid")',
                    postData: { status: status },
                    page: 1
                }).trigger("reloadGrid");
        });
        $("#btnNew").click(function () {
            window.location.href = '@Url.Action("DistanceCoveredBulkEntry", "Transport")';
        });
        jQuery("#FuelRefillList").jqGrid({
            url: '@Url.Content("~/Transport/FuelRefillBulkEntryJqGrid")?status=' + status,
            datatype: 'json',
            mtype: 'GET',
            colNames: ['Id', 'Ref No', 'Campus', 'Processed By', 'Created Date', 'Description', 'User Role', 'Status'],
            colModel: [
            //if any column added need to check formateadorLink
             {name: 'Id', index: 'Id', hidden: true, key: true },
             { name: 'RefNo', index: 'RefNo', formatter: formateadorLink },
             { name: 'Campus', index: 'Campus' },
             { name: 'ProcessedBy', index: 'ProcessedBy' },
             { name: 'CreatedDate', index: 'CreatedDate', width: 170 },
             { name: 'Description', index: 'Description' },
             { name: 'UserRole', index: 'UserRole' },
             { name: 'Status', index: 'Status' },
             ],
            pager: '#FuelRefillListPager',
            rowNum: '10',
            rowList: [5, 10, 20, 50, 100, 150, 200],
            sortname: 'Id',
            sortorder: 'Desc',
            height: '230',
            width: 1225,
            shrinktofit: true,
            viewrecords: true,
            caption: 'Distance Covered List',
            //            gridComplete: function() {
            //                var timeOut = 50;
            //                var rowIds = $("#FuelRefillList").getDataIDs();
            //                $.each(rowIds, function (index, rowId) {
            //                    setTimeout(function() {
            //                        $("#FuelRefillList").expandSubGridRow(rowId);
            //                    }, timeOut);
            //                    timeOut = timeOut + 200;
            //                });
            //            },
            subGrid: true,
            subGridOptions: { "plusicon": "ui-icon-triangle-1-e",
                "minusicon": "ui-icon-triangle-1-s",
                "openicon": "ui-icon-arrowreturn-1-e",
                // load the subgrid data only once // and the just show/hide 
                "reloadOnExpand": false,
                // select the row when the expand column is clicked 
                "selectOnExpand": true
            },
            subGridRowExpanded: function (SKUList, Id) {
                var selectedData = $('#FuelRefillList').jqGrid('getRowData', Id);
                if (parseInt(selectedData.TotalCount) == 0) {
                    InfoMsg("No Items to display");
                    return false;
                }
                else {
                    var SKUListTable, SKUListPager;
                    SKUListTable = SKUList + "_t";
                    SKUListPager = "p_" + SKUListTable;
                    $("#" + SKUList).html("<table id='" + SKUListTable + "' ></table><div id='" + SKUListPager + "' ></div>");
                    jQuery("#" + SKUListTable).jqGrid({
                        url: '@Url.Content("~/Transport/FuelRefillListBulkEntryJqGrid")?RefId=' + Id,
                        datatype: 'json',
                        mtype: 'GET',
                        colNames: ['Id', 'RefId', 'Vehicle Id', 'Type', 'Vehicle No', 'Fuel Type', 'Fuel Quantity', 'Filled By', 'Filled Date', 'Bunk Name', 'Created By', 'CreatedDate', ''],
                        colModel: [
                        //if any column added need to check formateadorLink
             {name: 'Id', index: 'Id', hidden: true, key: true },
             { name: 'RefId', width: 30, index: 'RefId', hidden: true },
             { name: 'VehicleId', width: 30, index: 'VehicleId', hidden: true },
             { name: 'Type', index: 'Type' },
             { name: 'VehicleNo', index: 'VehicleNo' },
             { name: 'FuelType', index: 'FuelType' },
             { name: 'FuelQuantity', index: 'FuelQuantity', editable: true },
             { name: 'FilledBy', index: 'FilledBy', editable: true, edittype: 'select', editoptions: { dataUrl: '/Transport/Driverddl'} },
             { name: 'FilledDate', index: 'FilledDate', editable: true, editoptions: {
                 dataInit: function (el) {
                     $(el).datepicker({ dateFormat: "dd/mm/yy", buttonImage: "../../Images/date.gif", buttonImageOnly: true,
                         changeMonth: true,
                         // timeFormat: 'hh:mm:ss',
                         autowidth: true,
                         changeYear: true
                         // minDate: '+0d'
                     }).attr('readonly', 'readonly');
                 }
             }
             },
             { name: 'BunkName', index: 'BunkName', editable: true },
             { name: 'CreatedBy', index: 'CreatedBy' },
             { name: 'CreatedDate', index: 'CreatedDate' },
             { name: 'Delete', index: 'Delete', width: 30, align: "center", sortable: false, formatter: frmtrDel },
                ],
                        pager: '#FuelRefillListPager',
                        rowNum: '100',
                        rowList: [5, 10, 20, 50, 100, 150, 200],
                        sortname: 'Id',
                        sortorder: 'Asc',
                        height: '230',
                        width: 1225,
                        shrinktofit: true,
                        viewrecords: true,
                        caption: 'Fuel Refill List'
                    });
                    jQuery("#" + SKUListTable).jqGrid('navGrid', "#" + SKUListPager, { edit: false, add: false, del: false })
                }
            }
        });
        $("#FuelRefillList").navGrid('#FuelRefillListPager', { add: false, edit: false, del: false, search: false, refresh: false });
    });
</script>

<table class="WithBorderOnly" width="100%">
    <tr>
        <th>
            Status
        </th>
    </tr>
    <tr>
        @*  <td>
            <input type="button" id="btnNew" value="New" />
        </td>*@
        <td>
            @Html.DropDownList("ddlStatus", new SelectList(new[]
                                          {
                                              new{Value="Open",Text="Open"},
                                              new{Value="Completed",Text="Completed"},
                                          },
                                   "Value", "Text", "Available"), new { @Class = "CSSDropDownList", style = "width:145px;" })
            @* </td>
        <td>*@
            <input type="button" id="Search" value="Search" />
        </td>
    </tr>
</table>
<table id="FuelRefillList" class="InnerTable" width="100%">
</table>
<div id="FuelRefillListPager">
</div>
