@{
    ViewBag.Title = "GPS Tracking Device Master";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        <div class="row">
            <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-CustomizeBlue">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <div class="PanelHeader">
                            <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel
                        </div>
                        <div class="widget-toolbar">
                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                <div class="col-xs-12">
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Campus Name</b></label>
                                        @Html.DropDownList("Campus", new SelectList(Enumerable.Empty<SelectListItem>()), "----Select----", new { @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Brand Name</b></label>
                                        @Html.TextBox("txtBrandName", "", new { @Class = "form-control select-sm", @maxlength = "10" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Model Name</b></label>
                                        @Html.TextBox("txtModelName", "", new { @Class = "form-control select-sm", @maxlength = "10" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>IMEI No</b></label>
                                        @Html.TextBox("txtIMEINo", "", new { @Class = "form-control select-sm", @maxlength = "10" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Purchase From Date</b></label>
                                        <div class="input-group input-group-sm">
                                            @Html.TextBox("PurchaseFromDate", "", new { @class = "form-control Attendancedatepicker", id = "txtPurchaseFromDate" })
                                            <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Purchase To Date</b></label>
                                        <div class="input-group input-group-sm">
                                            @Html.TextBox("PurchaseToDate", "", new { @class = "form-control Attendancedatepicker", id = "txtPurchaseToDate" })
                                            <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button class="btn btn-success btn-block btn-sm" id="btnSearch">
                                            <i class="ace-icon fa fa-search white"></i>Search
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button class="btn btn-danger btn-block btn-sm" id="btnReset">
                                            <i class="ace-icon fa fa-undo white"></i>Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="GPSTrackingDeviceMasterJqGrid">
                </table>
                <div id="GPSTrackingDeviceMasterJqGridPager">
                </div>
                <script type="text/javascript">
                    var $path_base = ".."; //in Ace demo this will be used for editurl parameter
                </script>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.page-content-area -->
</div>
<script src="../../Scripts/Transport/GPSTrackingDeviceMaster.js"></script>
