@{
    ViewBag.Title = "VehicleACMaintenance";
}
<div id="VehicleACMaintenance">
    <div class="row">
        <div class="col-xs-12 widget-container-col">
            <div class="widget-box widget-color-CustomizeBlue ">
                <div class="widget-header widget-header-flat widget-header-small">
                    <div class="PanelHeader">
                        AC Maintenance Details</div>
                    @*<div class="widget-toolbar">
                        <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                        </a>
                    </div>*@
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                            <div class="col-xs-12">
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Maintenance Type</b></label>
                                    @Html.DropDownList("ACMaintenanceType", new SelectList(new[]
                                          {
                                             new {Value="",Text="Select"},
                                              new{Value="Planned",Text="Planned"},
                                              new{Value="Breakdown",Text="Breakdown"},
                                          },
                                      "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>AC Model</b></label>
                                    @Html.TextBox("ACModel", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Planned Date of Service</b></label>
                                    <div class="input-group input-group-sm">
                                        @Html.TextBox("ACPlannedDateOfService", "", new { @class = "form-control date-picker" })
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Actual Date of Service</b></label>
                                    <div class="input-group input-group-sm">
                                        @Html.TextBox("ACActualDateOfService", "", new { @class = "form-control date-picker" })
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Service Provider</b></label>
                                    @Html.TextBox("ACServiceProvider", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Spare Parts Used</b></label>
                                    @Html.TextBox("ACSparePartsUsed", "", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Service Cost</b></label>
                                    @Html.TextBox("ACServiceCost", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Bill No</b></label>
                                    @Html.TextBox("ACServiceBillNo", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-sm-2 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Spare Parts Attachment</b></label>
                                    <input type="file" id="AM_SparePartsUsedfile" name="AM_SparePartsUsedfile" />
                                </div>
                                <div class="col-sm-4 form-group has-info">
                                    <label for="form-field-select-1 ">
                                        <b>Description of Fault</b></label>
                                    @Html.TextArea("ACMaintenanceDescription", "", new { rows = 1, cols = 58, @class = "form-control textarea" })
                                </div>
                                <div class="col-sm-2 form-group has-info" id="tdACBreakDownLocation">
                                    <label for="form-field-select-1 ">
                                        <b>Breakdown Location</b></label>
                                    @Html.TextBox("ACBreakdownLocation", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-sm-2">
                                    <br />
                                    <button class="btn btn-success btn-info btn-block btn-sm" id="AcbtnSave1" type="button"
                                        onclick="AddVehicleACMaintenance();return false;">
                                        <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>&nbsp Save
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-2 form-group has-info" id="tdACDateofBreakDown">
                                    <label for="form-field-select-1 ">
                                        <b>Date of Breakdown</b></label>
                                    <div class="input-group input-group-sm">
                                        @Html.TextBox("ACDateofBreakDown", "", new { @class = "form-control date-picker" })
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <br />
                                    <button class="btn btn-success btn-info btn-block btn-sm" id="AcbtnSave2" type="button"
                                        onclick="AddVehicleACMaintenance();return false;">
                                        <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>&nbsp Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="VehicleACMaintenanceList">
            </table>
            <div id="VehicleACMaintenanceListPager">
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Transport/VehicleACMaintenance.js")" type="text/javascript"></script>
