@model TIPS.Entities.StaffManagementEntities.StaffDetails
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    Date : @DateTime.Now.ToString("dd-MM-yyyy")</p>
<br />
<br />
<center>
    <h2>
        WHOM IT MAY CONCERN</h2>
</center>
<br />
<br />
This is to certify that <b>@Model.Name</b> is employed with <b>The Indian Public School</b>
as <b>@Model.Designation</b> Coimbatore since <b>@Model.DateOfJoin</b>.<br />
@Model.Honor present residence address is mentioned below as per our school records.
<br />
<br />
<b>Present Address:</b>
<br />
<b>@Model.PermanantAddress</b>
<br />
The above details are furnished on request from the employee for submitting before
the bank authorities without any monetary obligation from the organisation’s part.
<br />
<br />
<br />
<br />
<b>For The Indian Public School,</b>
<br />
<br />
<br />
<b>Authorised Signatory</b>