@model TIPS.Entities.StaffManagementEntities.StaffDetails
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    Date : @DateTime.Now.ToString("dd-MM-yyyy")</p>
<br />
<br />
<center>
    <h2>
        TO WHOM IT MAY CONCERN</h2>
</center>
<br />
<br />
This is to certify that <b>@Model.Name</b> is a Bonafide Staff of our institution
and is working as <b>@Model.Designation</b> since <b>@Model.DateOfJoin</b>.
<br />
<br />
The above details are furnished on request from the employee to apply for <b>@Model.Course</b>
l through part time education without any monetary obligation from the organisation’s
part.
<br />
<br />
<br />
<br />
<b>For The Indian Public School,</b>
<br />
<br />
<br />
<b>Authorised Signatory</b>