@model TIPS.Entities.StaffManagementEntities.EmploymentApplicationPDF
@{
    ViewBag.Title = "Employement Application Form";
    Layout = null;
}
<style type="text/css">
    .tbl_WithOutBrdr
    {
        font-family: Verdana;
        font-size: 15px;
    }
    .tbl_WithThickBrdr
    {
        font-family: Calibri;
        font-size: 15px;
        border-collapse: collapse;
        border: 2px solid black;
        /*padding:1px 2px 1px 4px;*/
        /*line-height: 20px;*/
    }
    .tr_BtmBrdr
    {
        border-bottom: 2px solid black;
    }
    .tr_TopBrdr
    {
        border-top: 2px solid black;
    }
    .tr_Brdr
    {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    .page-break
    {
        page-break-before: always;
    }
    .td_VerAlign
    {
        vertical-align: top;
    }
    td
    {
        padding-left:5px;
        padding-right:4px;
    }
</style>
<table width="90%" align="center" class="tbl_WithOutBrdr">
    <tr>
        <td colspan="2">
            <img width="100" height="50" src="@Model.NaceLogo" alt="Tips Logo" />
        </td>
        <td colspan="5" style="font-size: 14px;">
            <strong>The Indian Public School<br />
                Employment Application Form</strong>
        </td>
        <td width="89">
            <img width="120" height="60" src="@Model.TipsLogo" alt="Tips Logo" />
        </td>
    </tr>
</table>
<table width="90%" height="900" border="1" align="center" class="tbl_WithThickBrdr">
    <tr bgcolor="#ECECEC" align="center" class="tr_BtmBrdr" style="height:10px;">
        <td colspan="5">
            <b>POSITION APPLIED</b>
        </td>
        <td colspan="3">
            <b>DATE</b>
        </td>
    </tr>
    <tr class="tr_BtmBrdr">
        <td colspan="5">
            @Model.Designation
        </td>
        <td colspan="3" align="center">
            @Model.CurrentDate
        </td>
    </tr>
    <tr bgcolor="#ECECEC" align="center" class="tr_BtmBrdr" style="height:10px;">
        <td colspan="8">
            <b>PERSONAL DETAILS</b>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            Name:@Model.Name<br />
            (as per official records)
        </td>
        <td width="204" rowspan="6" align="center">
            <img src="@Url.Action("uploaddisplay1", "StaffManagement", new { id = @Model.PreRegNum })" id="image1" width= "150px" height="150px"/>
        </td>
    </tr>
    <tr>
        <td height="37" colspan="2">
            Gender:@Model.Gender
        </td>
        <td colspan="5">
            Date of Birth/Age:@Model.DOB
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            Contact Number
        </td>
        <td width="239" height="36" align="right">
            Mobile#
        </td>
        <td colspan="5">
            &nbsp;@Model.PhoneNo
        </td>
    </tr>
    <tr>
        <td height="36" align="right">
            Alternative#
        </td>
        <td colspan="5">
            &nbsp;@Model.Alt_PhoneNo
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Native State:@Model.NativeState
        </td>
        <td colspan="5">
            Email Id:@Model.EmailId
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Blood Group:@Model.BGRP
        </td>
        <td colspan="5">
            Marital Status:@Model.MaritalStatus
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            Languages Known
        </td>
        <td colspan="7">
            Spoken:@Model.Spoken_LanguagesKnown
        </td>
    </tr>
    <tr>
        <td colspan="7">
            Written:@Model.Written_LanguagesKnown
        </td>
    </tr>
    <tr>
        <td colspan="4">
            Father's Name:@Model.FatherName
        </td>
        <td colspan="4">
            Occupation:@Model.FatherOccupation
        </td>
    </tr>
    <tr>
        <td colspan="4">
            Spouse Name :@Model.SpouseName
        </td>
        <td colspan="4">
            Occupation:@Model.SpouseOccupation
        </td>
    </tr>
    <tr align="center" style="height:10px;">
        <td colspan="4">
            <b>Correspondence Address</b>
        </td>
        <td colspan="4">
            <b>Permanent Address</b>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @Model.CorrespondenceAddress
        </td>
        <td colspan="4">
            @Model.PermanantAddress
        </td>
    </tr>
    <tr>
        <td width="134">
            Emergency<br />
            Contact<br />
            Person
        </td>
        <td colspan="3">
            &nbsp;@Model.EmrgcyContPrsn
        </td>
        <td width="119">
            Emergency<br />
            Contact<br />
            No.
        </td>
        <td colspan="3">
            &nbsp;@Model.EmrgcyContNumber
        </td>
    </tr>
    <tr style="height:10px;">
        <td colspan="8">
            Persons Living with you:
        </td>
    </tr>
    <tr align="center" style="height:10px;">
        <td colspan="3">
            Name
        </td>
        <td colspan="2">
            Occupation
        </td>
        <td width="137">
            Age(Years)
        </td>
        <td colspan="2">
            Relationship
        </td>
    </tr>
    @if (@Model.StaffFamilyDetailsList.Count > 0)
    {
        foreach (var @FamilyItem in @Model.StaffFamilyDetailsList)
        {
        <tr>
            <td colspan="3">
                @FamilyItem.Name
            </td>
            <td colspan="2">
                @FamilyItem.Occupation
            </td>
            <td>
                @FamilyItem.Age
            </td>
            <td colspan="2">
                @FamilyItem.Relationship
            </td>
        </tr>
        }
    }
    else
    { 
        <tr>
            <td colspan="3">
                NILL
            </td>
            <td colspan="2">
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td colspan="2">
                &nbsp;NILL
            </td>
        </tr>
    }
</table>
<div class="page-break">
    &nbsp;</div>
<table width="90%" height="1003" border="1" align="center" class="tbl_WithThickBrdr">
    <tr bgcolor="#ECECEC" class="tr_Brdr" style="height:10px;">
        <td colspan="7" align="center">
            <b>EDUCATIONAL QUALIFICATION (10th Grade and Above)</b>
        </td>
    </tr>
    <tr align="center">
        <td>
            <b>Course</b>
        </td>
        <td colspan="2">
            <b>Board/University affiliated</b>
        </td>
        <td>
            <b>School/College<br />
                Studied</b>
        </td>
        <td>
            <b>Year of<br />
                completion</b>
        </td>
        <td>
            <b>Major<br />
                Subjects</b>
        </td>
        <td>
            <b>Percentage /<br />
                Percentile</b>
        </td>
    </tr>
    @if (@Model.StaffQualificationDetailsList.Count > 0)
    {
        foreach (var @QualItem in @Model.StaffQualificationDetailsList)
        {
        <tr>
            <td>
                @QualItem.Course
            </td>
            <td colspan="2">
                @QualItem.Board
            </td>
            <td>
                @QualItem.Institute
            </td>
            <td>
                @QualItem.YearOfComplete
            </td>
            <td>
                @QualItem.MajorSubjects
            </td>
            <td>
                @QualItem.Percentage
            </td>
        </tr>
        }
    }
    else
    {
        <tr>
            <td>
                &nbsp;NILL
            </td>
            <td colspan="2">
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
        </tr>
    }
    <tr bgcolor="#ECECEC" class="tr_Brdr" style="height:10px;">
        <td colspan="7" align="center">
            <b>EMPLOYMENT HISTORY (Reverse Chronological Order)</b>
        </td>
    </tr>
    <tr align="center">
        <td>
            <b>Employer's Name</b>
        </td>
        <td>
            <b>Location</b>
        </td>
        <td>
            <b>Start Date</b>
        </td>
        <td>
            <b>Till/ End Date</b>
        </td>
        <td>
            <b>Last Designation</b>
        </td>
        <td colspan="2">
            <b>Specific reason for leaving</b>
        </td>
    </tr>
    @if (@Model.StaffExperienceDetailsList.Count > 0)
    {
        foreach (var @ExpItem in @Model.StaffExperienceDetailsList)
        {
        <tr>
            <td>
                @ExpItem.EmployerName
            </td>
            <td>
                @ExpItem.Location
            </td>
            <td>
                @ExpItem.StartDate
            </td>
            <td>
                @ExpItem.TillDate
            </td>
            <td>
                @ExpItem.LastDesignation
            </td>
            <td colspan="2">
                @ExpItem.SpecificReasonForLeaving
            </td>
        </tr>
        }
    }
    else
    {
        <tr>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td>
                &nbsp;NILL
            </td>
            <td colspan="2">
                &nbsp;NILL
            </td>
        </tr>
    }
    <tr class="tr_Brdr">
        <td colspan="2" align="right">
            Total Years of Experience
        </td>
        <td>
            @Model.TotYrOfExp
        </td>
        <td colspan="2">
            Total Years of experience in teaching
        </td>
        <td colspan="2">
            @Model.TotYrOfTeachExp
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            Syllabuses/Curriculums Handled
        </td>
        <td colspan="5">
            @Model.SyllabusHandled
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            Subjects Taught
        </td>
        <td colspan="5">
            @Model.SubjectsTaught
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            Grades/Classes Taught
        </td>
        <td colspan="5">
            @Model.GradesTaught
        </td>
    </tr>
    <tr>
        <td align="right">
            Achievements
        </td>
        <td colspan="6">
            @Model.Achievments
        </td>
    </tr>
    <tr bgcolor="#ECECEC" class="tr_Brdr" align="center" style="height:10px;">
        <td colspan="7" align="center">
            <b>COMPENSATION</b>
        </td>
    </tr>
    <tr>
        <td rowspan="2" align="right">
            Last Drawn<br />
            Monthly Salary
        </td>
        <td colspan="2" align="right">
            Gross Salary
        </td>
        <td colspan="4">
            @Model.LastDrawnGrossSalary
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            Nett. (Take Home Salary)
        </td>
        <td colspan="4">
            @Model.LastDrawnNettSalary
        </td>
    </tr>
    <tr>
        <td align="right">
            Expected Monthly<br />
            Salary
        </td>
        <td colspan="6">
            @Model.ExpectedSalary
        </td>
    </tr>
    <tr bgcolor="#ECECEC" class="tr_Brdr" align="center" style="height:10px;">
        <td colspan="7" align="center">
            <b>NOTICE PERIOD</b>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            If Offered, how soon can you join us?
        </td>
        <td colspan="5">
            @Model.JoiningDateOrDays
        </td>
    </tr>
</table>
<div class="page-break">
    &nbsp;</div>
<table width="90%" border="1" align="center" class="tbl_WithThickBrdr">
    <tr bgcolor="#ECECEC" align="center" style="height:10px;">
        <td height="40" colspan="4">
            <b>Other Details</b>
        </td>
    </tr>
    <tr>
        <td height="110" colspan="4" class="td_VerAlign">
            Any other significant details you would like to furnish?
            <br />
            @Model.AnyOtherSignificant
        </td>
    </tr>
    <tr>
        <td height="108" colspan="4" class="td_VerAlign">
            Other Special Interests (Music Dance Singing Drawing Crafts Photography etc)
            <br />
            @Model.SpecialInterests
        </td>
    </tr>
    <tr>
        <td height="68" colspan="2" rowspan="2" class="td_VerAlign">
            How you knew about this vacancy?
            <br />
            @Model.HowYouKnowVacancy
        </td>
        <td height="40" colspan="2">
            Have you been shortlisted by us before? ‐ @Model.BeenShortListedBefore
        </td>
    </tr>
    <tr>
        <td width="20%" height="33">
            If Yes When?
        </td>
        <td width="32%" height="33">
            <br />
            @Model.ShortlistedWhy
        </td>
    </tr>
    <tr>
        <td width="30%" height="65">
            Is any relative/friend of yours<br />
            working with us?
        </td>
        <td width="18%">
            @Model.RelativeWorkingWithUs
        </td>
        <td colspan="2" class="td_VerAlign">
            If Yes, furnish details.
            <br />
            @Model.RelativeDetails
        </td>
    </tr>
    <tr>
        <td height="48">
            How long can you commit with TIPS?
        </td>
        <td colspan="3">
            @Model.CommitTimeWithTIPS
        </td>
    </tr>
    <tr>
        <td height="47">
            What kind of growth are you<br />
            expecting in your career?
        </td>
        <td colspan="3">
            @Model.CareerGrowthExpectation
        </td>
    </tr>
    <tr>
        <td height="51">
            Will you be willing to travel on need<br />
            basis?
        </td>
        <td colspan="3">
            @Model.WillingToTravel
        </td>
    </tr>
    <tr>
        <td>
            Will you be willing for a growth<br />
            oriented relocation in future?
        </td>
        <td colspan="3">
            @Model.WillingForRelocation
        </td>
    </tr>
    <tr align="center" style="height:10px;">
        <td bgcolor="#ECECEC" height="45" colspan="4">
            <b>REFERENCES</b>
        </td>
    </tr>
    <tr align="center">
        <td height="44">
            <b>Name</b>
        </td>
        <td>
            <b>Contact Number</b>
        </td>
        <td>
            <b>How you know him/her?</b>
        </td>
        <td>
            <b>How long you know?</b>
        </td>
    </tr>
    @if (@Model.StaffReferenceDetailsList.Count > 0)
    {
        foreach (var @RefItem in @Model.StaffReferenceDetailsList)
        {
        <tr>
            <td height="38">
                @RefItem.RefName
            </td>
            <td>
                @RefItem.RefContactNo
            </td>
            <td>
                @RefItem.RefHowKnow
            </td>
            <td>
                @RefItem.RefHowLongKnow
            </td>
        </tr>
        }
    }
    else
    {
        <tr>
            <td height="38">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td height="37">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    }
</table>
<table width="90%" border="0" align="center" style="margin-top: 10px;">
    <tr>
        <td colspan="4" style="line-height: 25px;">
            I hereby declare the information furnished are true to the best of my knowledge.
            I understand that, if I am hired, any<br />
            misrepresentation or omission of facts by me is cause for any necessary action as
            deemed by the management. I hereby give the<br />
            Organization permission to contact any or all schools, previous employers (unless
            otherwise indicated), and references, and hereby<br />
            release the Organization from any liability as a result of such contacts.
        </td>
    </tr>
    <tr>
        <td colspan="4">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Signature : _____________________________
        </td>
    </tr>
    <tr>
        <td colspan="2">
        &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Location &nbsp;: _____________________________
        </td>
        <td>
            Date : _____________________________
        </td>
    </tr>
</table>
