@model TIPS.Entities.StaffManagementEntities.StaffDetails
@{
    ViewBag.Title = "NewEmployment";
}
<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Back").click(function () {
                window.location.href = '@Url.Action("StaffDisplay", "StaffManagement")';
            });

            //        jQuery("#DocumentList").jqGrid({
            //            mtype: 'GET',
            //            url: '/StaffManagement/Documentsjqgrid',
            //            //    postData: { userid: usersrch, appcd: appcdsrch, rlcd: rlcdsrch, depcd: depcdsrch, brncd: brncdsrch },
            //            datatype: 'json',
            //            height: '120',
            //            width: '1225',
            //            shrinkToFit: true,
            //            colNames: ['Document Type', 'Document Name', 'Document Size', 'Uploaded Date', ''],
            //            colModel: [
            //                          { name: 'DocumentType', index: 'DocumentType', width: '40%', align: 'left', sortable: false },
            //                          { name: 'DocumentName', index: 'DocumentName', width: '30%', align: 'left', sortable: false },
            //                          { name: 'DocumentSize', index: 'DocumentSize', width: '30%', align: 'left', sortable: false },
            //                          { name: 'UploadedDate', index: 'UploadedDate', width: '30%', align: 'left', sortable: false },
            //                          { name: 'Id', index: 'Id', width: '30%', align: 'left', sortable: false, hidden: true, key: true }
            //            //     { name: 'DeptCode', index: 'DeptCode', width: '30%', align: 'left', editable: true, edittype: 'select', editoptions: { dataUrl: '/Home/DeptCodeddl', style: "width: 150px; height: 20px; font-size: 0.9em" }, editrules: { custom: true, custom_func: checkvalid1 }, sortable: false }
            //                          ],
            //            pager: '#DocumentListPager',
            //            rowNum: '10',
            //            rowList: [5, 10, 20, 50],
            //            //           sortname: 'IssueNumber',
            //            //           sortorder: "Desc",
            //            multiselect: true,
            //            viewrecords: true,
            //            caption: 'Documents'
            //        });
            //        jQuery("#DocumentList").navGrid('#DocumentListPager', { add: false, edit: false, del: true, search: false },

            //              {},              //edit options
            //            {},        //  //add options

            //        {url: '/Admission/DeleteUploadedFiles/' });      //  //delete options  

        });
    </script>
</head>
<body>
    <h3>
        NewEmployment</h3>
    @using (Html.BeginForm("NewEmployment", "StaffManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="WithBorderOnly" width="100%">
            <tr class="PanelHeading">
                <th colspan="6" class="PanelHeading">
                    Basic Details
                </th>
            </tr>
            <tr>
                <th width="15%">
                    Request Number
                </th>
                <th width="15%">
                    Date
                </th>
                <th width="15%">
                    Time
                </th>
                <th width="15%">
                    Processed By
                </th>
                <th width="15%">
                    User Role
                </th>
                <th width="15%">
                    Registration Status
                </th>
            </tr>
            <tr>
                <td width="15%">
                    @ViewBag.RequestNum
                    @Html.HiddenFor(model => model.PreRegNum, new { value = ViewBag.RequestNum })
                </td>
                <td width="15%">
                    @ViewBag.Date
                </td>
                <td width="15%">
                    @ViewBag.Time
                </td>
                <td width="15%">
                    @ViewBag.processby
                </td>
                <td width="15%">
                    @ViewBag.userrole
                </td>
                <td width="15%">
                    @ViewBag.admissionstatus
                </td>
            </tr>
        </table>

  

        <table class="WithBorderOnly" width="100%" height="90%">
            <tr class="PanelHeading">
                <th colspan="6" class="PanelHeading">
                    General Details
                </th>
            </tr>
            <tr>
                <td>
                    <div id="GeneralDetails" style="width: 100%">
                        <table style="height: 230px">
                            <tr>
                                <td width="10%" style="font-weight: bold">
                                    Staff Name
                                </td>
                                <td width="10%" style="font-weight: bold">
                                    <label>
                                        Staff ID Number
                                    </label>
                                </td>
                                <td width="10%" style="font-weight: bold">
                                    <label>
                                        School</label>
                                </td>
                                <td width="10%" style="font-weight: bold">
                                    <label>
                                        Designation</label>
                                </td>
                                <td width="10%" style="font-weight: bold">
                                    <label>
                                        Department</label>
                                </td>
                                <td width="10%" style="font-weight: bold">
                                    <label>
                                        Date Of Joining</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => model.Name, new { id = "sname", @Class = "CSSTextBox", @maxlength = "40" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.IdNumber, new { id = "sidno", @Class = "CSSTextBox" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(Model => Model.Campus, new SelectList(ViewBag.campusddl, "Name", "Name"), "Select One", new { id = "ddlcampus", @Class = "CSSDropDownList" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Designation, new { id = "designation", @Class = "CSSTextBox" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(Model => Model.Department, new SelectList(ViewBag.departmentddl, "IssueGroup", "IssueGroup"), "Select Department", new { id = "department", @Class = "CSSDropDownList" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.DateOfJoin, new { id = "dateofjoin", @Class = "datepicker" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp&nbsp&nbsp
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">
                                    <label>
                                        Date Of Birth
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Blood Group
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Gender
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Qualification
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Total Experience
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Previous Employer
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => model.DOB, new { id = "DOB", @Class = "datepicker", @maxlength = "20" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(Model => Model.BGRP, new SelectList(ViewBag.bloodgrpddl, "BloodGroup", "BloodGroup"), "Select BloodGroup", new { id = "bgrp", @Class = "CSSDropDownList" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Gender, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Male",Text="Male"},
                                              new{Value="Female",Text="Female"}
                                          },
                                          "Value", "Text", ""), new { id = "gender", @Class = "CSSDropDownList" })
                                    @*  @Html.TextBoxFor(model => model.Grade, new { id = "grade", @Class = "CSSTextBox" })*@
                                </td>
                                @*                            <td>
                                @Html.TextBoxFor(model => model.Qualification, new { id = "qualification", @Class = "CSSTextBox", @maxlength = "10" })                                                            
                            </td>
                            <td>
                          @Html.TextBoxFor(model => model.TotalExp, new { id = "totalexp", @Class = "CSSTextBox" })                              
                            </td>
                            <td style="width: 100px">
                                 @Html.TextBoxFor(model => model.PrevEmployer, new { id = "prevemployer", @Class = "CSSTextBox" })      
                            </td>*@
                            </tr>
                            <tr>
                                <td>
                                    &nbsp&nbsp&nbsp
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">
                                    <label>
                                        Email Id</label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Phone No</label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Emergency No
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Insurance Details
                                    </label>
                                </td>
                                <td style="font-weight: bold">
                                    <label>
                                        Marital Status
                                    </label>
                                </td>
                                <td width="20%" style="font-weight: bold">
                                    <label>
                                        Reporting Manager</label>
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(model => model.EmailId, new { id = "emailid", @Class = "CSSTextBox", @maxlength = "48" })
                                </td>
                                <td>@Html.TextBoxFor(model => model.PhoneNo, new { id = "phoneno", @Class = "CSSTextBox", @maxlength = "48" })
                                </td>
                                @*                            <td>@Html.TextBoxFor(model => model.EmergencyNo, new { id = "emergencyno", @Class = "CSSTextBox", @maxlength = "40" })
                            </td>*@
                                <td>@Html.TextBoxFor(model => model.InsuranceDetails, new { id = "insurancedetails", @Class = "CSSTextBox", @maxlength = "20" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Single",Text="Single"},
                                              new{Value="Married",Text="Married"}
                                          },
          "Value", "Text", ""), new { id = "gender", @Class = "CSSDropDownList" })
                                </td>
                                <td>@Html.TextBoxFor(model => model.ReportingManager, new { id = "reportingmanager", @Class = "CSSTextBox", @maxlength = "20" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" style="font-weight: bold">
                                    Add1
                                </td>
                                <td width="20%" style="font-weight: bold">
                                    Add2
                                </td>
                                <td width="20%" style="font-weight: bold">
                                    City
                                </td>
                                <td width="20%" style="font-weight: bold">
                                    State
                                </td>
                                <td width="20%" style="font-weight: bold">
                                    Country
                                </td>
                                <td width="20%" style="font-weight: bold">
                                    Pin
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => model.Add1, new { id = "add1", @Class = "CSSTextBox", @maxlength = "40" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Add2, new { id = "add2", @Class = "CSSTextBox" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.City, new { id = "city", @Class = "CSSTextBox" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.State, new { id = "state", @Class = "CSSTextBox" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Country, new { id = "country", @Class = "CSSTextBox" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pin, new { id = "pin", @Class = "CSSTextBox" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <table class="WithBorderOnly" width="100%" height="90%">
            <tr>
                <td width="20%" style="font-weight: bold">
                    File Type
                </td>
                <td width="20%" style="font-weight: bold">
                    File Name
                </td>
                <td width="20%" style="font-weight: bold">
                </td>
            </tr>
            <tr>
                @*        <td>
                              @Html.DropDownListFor(Model => Model.DocumentType, new SelectList(ViewBag.documentddl, "DocumentType", "DocumentType"), "Select One", new { id = "doctype", @Class = "CSSDropDownList" })
                            </td>*@
                <td>
                    <input type="file" name="file1" id="file1" value="Browse" />
                </td>
                <td>
                    <input type="submit" name="DocUpload" value="Upload" id="Upload" />
                    <input type="button" value="Cancel" />
                </td>
                @*@Html.Partial("FileUpload")*@
            </tr>
            <tr>
                <td colspan="3">
                    <table id="DocumentList">
                    </table>
                    <div id="DocumentListPager">
                    </div>
                </td>
            </tr>
        </table>
        
        <tr>
            <td style="padding-left: 40%">
                <input type="submit" name="Save" value="submit" />
                &nbsp&nbsp&nbsp
                <input type="button" id="Back" value="Back to Inbox" />
            </td>
        </tr>
    }
</body>
</html>
