@model TIPS.Entities.StaffManagementEntities.StaffDetails
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    Date : @DateTime.Now.ToString("dd-MM-yyyy")</p>
<br />
<br />
<center>
    <h2>
        INTERNAL COMMUNICATION</h2>
</center>
<br />
<br />
Dear <b>@Model.Name</b>
<br />
<br />
<br />
This has reference to the discussion we had with you regarding your re-designation.
<br />
<br />
With effect from @Model.DateofRedsn.ToString("dd-MM-yyyy") you are re-designated
as <b>@Model.CurDesg</b> from your current position of <b>@Model.Designation</b>.
You would be deemed to have been in continuous service with <b>The Indian Public School</b>
without break.
<br />
<br />
<br />
Please return the duplicate copy of this letter duly signed by you, as a token of
your acceptance.
<br />
<br />
<br />
We wish you all the best for your future assignments.
<br />
<br />
<br />
<br />
<b>For The Indian Public School,</b>
<br />
<br />
<br />
<b>Authorised Signatory</b>