@model TIPS.Entities.StaffManagementEntities.StaffDetails
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    <b>@DateTime.Now.ToString("dd-MM-yyyy")</b></p>
<br />
<br />
<center>
    <h2>
        TO WHOM IT MAY CONCERN</h2>
</center>
<center>
    <h3>
        Salary Certificate</h3>
</center>
<br />
<br />
This is to certify that <b>@Model.Name</b> is working in our organisation as <b>@Model.Designation</b>
since <b>@Model.DateOfJoin</b>. @Model.Honor Salary (Cost- To-Company) is Rs.<b>@Model.SalaryCerAmount</b>&nbsp;
<b>@Model.AmtInWords</b> including Rs @Model.PFAmount/- employer PF contribution.<br />
<br />
The above details are furnished on request from the employee for submitting before
the bank authorities without any monetary obligation from the organisation’s part.<br />
<br />
<b>For The Indian Public School,</b><br />
<br />
<b>Authorised Signatory</b>