@model TIPS.Entities.StaffManagementEntities.StaffDetails
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script type="text/javascript">
    try { ace.settings.check('main-container', 'fixed') } catch (e) { }
</script>
<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>

        <div class="row">
            <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-CustomizeBlue">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <div class="PanelHeader">
                            <i class="ace-icon fa fa-user"></i>&nbsp;Basic Details
                        </div>
                        <div class="widget-toolbar">
                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                        <div class="col-sm-2">
                                            <img src="@Url.Action("uploaddisplay1", "StaffManagement", new { id = Session["Reqnum"] })" id="image1" width= "130px" height="120px"/>
                                            <input type="file" id="my_file" style="display: none;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row" style="margin-top: -30px; margin-left: -60px; margin-bottom: 5px;">
                                        <div class="col-xs-12">
                                            @*<div class="col-sm-2">
                                                    <label for="form-field-select-1">
                                                        <b>Request Number</b>
                                                    </label>
                                                    <br />
                                                    @ViewBag.RequestNum

                                                </div>*@
                                            <div class="col-sm-12" style="font-size: 23px">

                                                <br />
                                                @ViewBag.nam
                                                @Html.HiddenFor(m => m.Id)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: -30px; margin-left: -60px; margin-bottom: 5px;">
                                        <div class="col-xs-12">
                                            <div class="col-sm-12">
                                                <label for="form-field-select-1">
                                                    <b><i class="fa fa-user fa-lg"></i>&nbsp;@ViewBag.desig</b></label>
                                                <br />
                                                <label for="form-field-select-1">
                                                    <b><i class="fa fa-phone-square fa-lg green"></i>&nbsp;@Model.PhoneNo</b></label>


                                                <label for="form-field-select-1">
                                                    <b><i class="fa fa-envelope-o fa-lg red"></i>&nbsp;@Model.EmailId</b></label><br />
                                                @*Need to change*@
                                                <br />
                                                <button type="button" class="btn btn-success btn-sm" id="btnEdit" name="btnEdit" value="btnEdit">
                                                    <i class="fa fa-edit white"></i>&nbsp;Edit Info
                                                </button>
                                            </div>


                                        </div>
                                    </div>
                                    @* <div class="row" style="margin-top: -30px; margin-left: -60px; margin-bottom: 5px;">
                                        <div class="col-xs-12">
                                            <div class="col-sm-12">
                                                <div id="progressbar"></div>
                                            </div>
                                        </div>

                                    </div>*@
                                </div>
                                <div class="col-sm-6">
                                    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-bottom: 5px;">
                                        <div class="col-xs-12">                                            
                                            <div class="col-sm-4">
                                                <label for="form-field-select-1">
                                                    <b>Id Number</b>
                                                </label>
                                                <br />
                                                @ViewBag.idnum
                                                @Html.Hidden("displayidnum", "", new { id = "displayidnum", @Value = ViewBag.displayidnum })

                                            </div>
                                            <div class="col-sm-4">
                                                <label for="form-field-select-1">
                                                    <b>Campus</b>
                                                </label>
                                                <br />
                                                @ViewBag.campus
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="form-field-select-1">
                                                    <b>Department</b>
                                                </label>
                                                <br />
                                                @ViewBag.dept
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px; margin-left: 0px; margin-bottom: 5px;">
                                        <div class="col-xs-12">                                            
                                            <div class="col-sm-4">
                                                <label for="form-field-select-1">
                                                    <b>Date Of Join</b>
                                                </label>
                                                <br />                                                
                                                @(ViewBag.doj != null ? DateTime.Parse(ViewBag.doj).ToString("dd'/'MM'/'yyyy") : "")
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="form-field-select-1">
                                                    <b>Status</b>
                                                </label>
                                                <br />
                                                @ViewBag.admissionstatus
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="tabbable tabs-top">
                    <ul id="myTab" class="nav nav-tabs tab-color-blue background-blue">
                        <li class="active"><a href="#Employment" data-toggle="tab"><i class="fa fa-folder-open"></i>&nbsp;Employment Details</a> </li>
                        <li><a data-toggle="tab" href="#Personal"><i class="ace-icon fa fa-user"></i>&nbsp;Personal
                                Details&nbsp;&nbsp;&nbsp;<i class="fa fa-exclamation-triangle fa-lg" id="excPer" title="Qualification details not completed."></i></a>

                        </li>

                        <li><a data-toggle="tab" href="#StaffFamily"><i class="ace-icon fa fa-home"></i>&nbsp;Family
                                Details&nbsp;&nbsp;&nbsp;<i class="fa fa-exclamation-triangle fa-lg" id="excFam" title="Family details not completed."></i></a></li>
                        <li><a data-toggle="tab" href="#Experience"><i class="fa fa-star-half-o"></i>&nbsp;Experience
                                Details&nbsp;&nbsp;&nbsp;<i class="fa fa-exclamation-triangle fa-lg" id="excExp" title="Experience details not completed."></i></a></li>
                        <li><a data-toggle="tab" href="#Training"><i class="fa fa-trophy"></i>&nbsp;Training
                                Details</a></li>
                        @* <li><a data-toggle="tab" href="#Reference"><i class="ace-icon fa fa-book"></i>&nbsp;Reference
                                Details</a></li>*@

                        <li><a data-toggle="tab" href="#Other"><i class="fa fa-plus-square-o"></i>
                            &nbsp;Other Details</a></li>
                        @* <li><a data-toggle="tab" href="#ApproveDetails"><i class="fa fa-sign-in"></i>
                                &nbsp;Approve</a></li>*@

                         @*<li><a data-toggle="tab" href="#StaffAttendance"><i class="fa fa-calendar"></i>&nbsp;Attendance</a></li>*@
                       @* @if (Session["staffapproverrole"].ToString() == "STM-APP")
                        {
                            <li><a data-toggle="tab" href="#ApproveDetails"><i class="ace-icon fa fa-mobile"></i>
                                &nbsp;Approve</a></li>
                        }*@
                    </ul>
                    <div class="tab-content col-xs-6.col-sm-10">
                        <div class="tab-pane in active" id="Employment">
                            @Html.Partial("ViewWorkDetails")
                        </div>
                        <div class="tab-pane" id="Personal">
                            @Html.Partial("ViewPersonalDetails")
                        </div>

                        <div class="tab-pane" id="Experience">
                            @Html.Partial("ExperienceDetails")
                        </div>
                        <div class="tab-pane" id="Training">
                            @Html.Partial("TrainingDetails")
                        </div>
                        @*  <div class="tab-pane" id="Reference">
                                @Html.Partial("ReferenceDetails")
                            </div>*@

                        <div class="tab-pane" id="Other">
                            @Html.Partial("ViewOtherDetails")
                        </div>
                        @*<div class="tab-pane" id="ApproveDetails">
                            @Html.Partial("Approve")
                        </div>*@
                        <div class="tab-pane" id="StaffFamily">
                            @Html.Partial("StaffFamilyDetails")
                        </div>
                        <div class="tab-pane" id="DocumentDetails">
                            @Html.Partial("StaffDocumentDetails")
                        </div>
                        @*<div class="tab-pane" id="StaffAttendance">
                                @Html.Partial("StaffAttendance")
                            </div>*@
                        @* @if (Session["staffapproverrole"].ToString() == "STM-APP")
                            {
                                <div class="tab-pane" id="ApproveDetails">
                                    @Html.Partial("Approve")
                                </div>
                            }*@


                        @*@Html.HiddenFor(model => model.DocCheck, new { id = "doccheck" })
                        @Html.HiddenFor(model => model.QualCheck, new { id = "qualcheck" })
                        @Html.HiddenFor(model => model.FamilyCheck, new { id = "familycheck" })
                        @Html.HiddenFor(model => model.ExpCheck, new { id = "expcheck" })
                        @Html.HiddenFor(model => model.TraCheck, new { id = "tracheck" })
                        @Html.HiddenFor(model => model.DummyDateOfJoin, new { id = "DummyDateOfJoin" })
                        @Html.HiddenFor(model => model.DummyDOB, new { id = "DummyDOB" })
                        @Html.HiddenFor(model => model.DummyResignationDate, new { id = "DummyResignationDate" })
                        @Html.HiddenFor(model => model.DummyRelievingDate, new { id = "DummyRelievingDate" })
                        @Html.HiddenFor(model => model.DummyLastWorkingDate, new { id = "DummyLastWorkingDate" })*@
                        @Html.Hidden("userrole", Session["staffapproverrole"].ToString())

                        @*@Html.Hidden("ToDocCheck", "", new { id = "ToDocCheck", @Value = ViewBag.ToDocCheck })
                        @Html.Hidden("ToFamilyCheck", "", new { id = "ToFamilyCheck", @Value = ViewBag.ToFamilyCheck })
                        @Html.Hidden("ToExpCheck", "", new { id = "ToExpCheck", @Value = ViewBag.ToExpCheck })
                        @Html.Hidden("ToQualCheck", "", new { id = "ToQualCheck", @Value = ViewBag.ToQualCheck })
                        @Html.Hidden("ToTraCheck", "", new { id = "ToTraCheck", @Value = ViewBag.ToTraCheck })
                        @Html.Hidden("disableInput", "", new { id = "disableInput", @Value = ViewBag.disableInput })*@
                        @Html.HiddenFor(model => model.PreRegNum, new { id = "PreRegNum" })
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div>

</div>

<script src="../../Scripts/StaffManagementScripts/StaffFamilyDetails.js" type="text/javascript"></script>
@*<script src="../../Scripts/StaffManagementScripts/EmployeeDataForm.js" type="text/javascript"></script>*@
@*<script src="../../Scripts/StaffManagementScripts/ApplicationForm.js" type="text/javascript"></script>*@
<script src="../../assets/js/AceJQMsg.js" type="text/javascript"></script>
<style type="text/css">
    #image1 {
        box-shadow: 2px 3px 5px #888888;
        border-radius:60px;
    }
</style>

<script>
    $(function () {
        $("#progressbar").progressbar({
            value: '@ViewData["perVar"]'
        });
        $("#progressbar > div").css({ 'background': 'url(images/dustyblue-1x100.png) #4CAF50 repeat-x 50% 50%' });
        $("#progressbar > div").text(@ViewData["perVar"] + ' %');
        $('#progressbar').css('width', 100 + "%");
  
        
    });
    $("#btnEdit").click(function () {
   
        var IdNo = $('#Id').val();
      
        window.location.href = '/StaffManagement/ApplicationForm?Id=' + IdNo;
            
    });
    // Blink exclamation icon for uncompleted staff details tabs
    $('.fa-exclamation-triangle').tooltip();
    $('#excPer').hide();
    $('#excFam').hide();
    $('#excExp').hide();    
    //if ($('#qualcheck').val() != "Yes") {
       
    //    blinkPer();
    //}
    //if ($('#familycheck').val() != "Yes") {
      
    //    blinkFam();
    //}
    //if ($('#expcheck').val() != "Yes") {
      
    //    blinkExp();
    //}

    //function blinkPer() {
    //    $('#excPer').fadeOut(500).fadeIn(500, blinkPer);
    //}
    //function blinkFam() {
    //    $('#excFam').fadeOut(500).fadeIn(500, blinkFam);
    //}
    //function blinkExp() {
    //    $('#excExp').fadeOut(500).fadeIn(500, blinkExp);
    //}

    //End Blink exclamation icon for uncompleted staff details tabs
</script>
