@model TIPS.Entities.StaffManagementEntities.StaffEvaluationCategoryWise_Vw
@{
    ViewBag.Title = "StaffEvaluationCategoryWise";
    Layout = "~/Views/Shared/NewAcePartialViewMaster.cshtml";
}
<script src="@Url.Content("~/Scripts/StaffManagementScripts/StaffEvaluationCategoryWise.js")" type="text/javascript"></script>
@Html.HiddenFor(model=>model.Campus)
@Html.HiddenFor(model=>model.Grade)
@Html.HiddenFor(model=>model.Section)
@Html.HiddenFor(model=>model.Month)
@Html.HiddenFor(model=>model.StaffPreRegNum)
@Html.HiddenFor(model=>model.Subject)
@Html.HiddenFor(model=>model.AcademicYear)
<div class="row">
    <div class="col-xs-12 widget-container-col">
        <div class="widget-body">
            <div class="widget-main no-padding">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="CategoryWiseMarksList">
                            </table>
                            <div id="CategoryWiseMarksListPager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
