@{
    ViewBag.Title = "Add New Bulk IT Asset";
}
<div class="row">
    @Html.Hidden("assetId", "", new { @id = "assetId", @Value = Model.Asset_Id })
    @Html.Hidden("IdNum", "", new { id = "IdNum" })
    <div class="col-xs-12 widget-container-col">
        <div class="widget-box widget-color-CustomizeBlue">
            <div class="widget-body">
                <div class="widget-main no-padding">
                    @if (@Model.specList != null && @Model.specList.Count > 0)
                    {
                        <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Campus</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownList("ddlNewCampus", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewCampus", @Class = "form-control select-sm" })
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Asset Name</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <input id="assetNameId" type="text" class="form-control" value=@Model.AssetType readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>User Type</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    Student
                                    @*@Html.DropDownList("ddlUserType", new SelectList(new[]
                                {
                                    new {Value="",Text="Select One"},
                                    new {Value="Student",Text="Student"},
                                    new {Value="Staff",Text="Staff"},
                                    new {Value="Common",Text="Common"},
                                            },
                            "Value", "Text", ""), new { id = "ddlUserType", @Class = "form-control select-sm" })*@
                                </div>
                            </div>
                            <div id="StudentDiv">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-1">
                                            <b>Grade</b>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("ddlNewGrade", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewGrade", @Class = "form-control select-sm" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-1">
                                            <b>Student Name</b>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("ddlNewStudentName", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewStudentName", @Class = "form-control select-sm" })
                                    </div>
                                </div>
                                @* <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Student Number</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        @Html.TextBox("txtStuNum", "", new { id = "txtStuNum", @Class = "form-control input-sm", @Readonly = "Readonly" })
                                        <span class="input-group-addon"><a id="StudentSearch" style="cursor: pointer;"><i class="fa fa-search"></i></a></span>
                                    </div>
                                </div>*@
                            </div>
                            @*<div id="StaffDiv">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-1">
                                            <b>Staff Group</b>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("ddlNewStaffGroup", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewStaffGroup", @Class = "form-control select-sm" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-1">
                                            <b>Department</b>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("ddlNewDepartment", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewDepartment", @Class = "form-control select-sm" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-1">
                                            <b>Staff Name</b>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("ddlNewStaffName", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewStaffName", @Class = "form-control select-sm" })
                                    </div>
                                </div>*@
                                @*<div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Staff Number</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        @Html.Hidden("StaffPreRegNum", "", new { id = "StaffPreRegNum", @Value = Session["UserId"] })
                                        @Html.TextBox("txtStaffName", "", new { id = "txtStaffName", @Class = "form-control input-sm", @Readonly = "Readonly" })
                                        <span class="input-group-addon"><a id="StaffSearch" style="cursor: pointer;"><i class="fa fa-search"></i></a></span>
                                    </div>
                                </div>*@
                            @*</div>*@
                            @*<div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Asset Code</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <input id="assetCode" type="text" class="form-control" />
                                </div>
                            </div>*@
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Make</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <input id="assetMake" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Model</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <input id="assetModel" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Serial No</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <input id="assetSerial" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Block Name</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownList("ddlNewBlock", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewBlock", @Class = "form-control select-sm" })
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label for="form-field-select-1">
                                        <b>Location</b>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownList("ddlNewLocation", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { id = "ddlNewLocation", @Class = "form-control select-sm" })
                                </div>
                            </div>


                            @foreach (var item in Model.specList)
                            {
                                if (@item != "Id")
                                {
                                <div class="col-xs-12">
                                    @foreach (var descitem in ViewBag.DescList)
                                    {
                                        if (string.Equals(item, descitem.Replace(" ", string.Empty), StringComparison.CurrentCultureIgnoreCase))
                                        {
                                        <div class="col-sm-6">
                                            <label for="form-field-select-1">
                                                <b>@descitem</b>
                                            </label>
                                        </div>
                                            break;
                                        }
                                    }
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id='@item' />
                                    </div>
                                </div>
                                }
                            }
                            <div class="col-xs-12">
                                <div class="col-sm-4">
                                    <br />
                                    <button class="btn btn-success btn-block btn-sm" type="button" id="btnAddAsset">
                                        <i class="ace-icon fa fa-plus white"></i>Add
                                    </button>
                                </div>
                                @*<div class="col-sm-4">
                                        <br />
                                        <button class="btn btn-primary btn-block btn-sm" type="button" id="btnAddReset">
                                            <i class="ace-icon fa fa-undo white"></i>Add & Reset
                                        </button>
                                    </div>*@
                                <div class="col-sm-4">
                                    <br />
                                    <button class="btn btn-danger btn-block btn-sm" type="button" id="btnExit">
                                        <i class="ace-icon fa fa-arrow-right white"></i>Exit
                                    </button>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div id="SaveBulkComponent">
    <div id="DivStaffMasterSearch">
    </div>
</div>
@*<script src="~/Scripts/Asset/AddNewITAsset.js"></script>*@
<script type="text/javascript" src="@Url.Content("~/Scripts/Asset/AddNewBulkITAsset.js")"></script>
