@model TIPS.Entities.ParentPortalEntities.PhotoGallery
@{
    ViewBag.Title = "View Folder Details";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";        
}
<style type="text/css">
    #ViewAlbumImages {
        width: 100%;
        border: 2px solid white;
    }

    .phHolder {
    }

    /*#VIS
    {
    	border:1px solid Blue;
    	width:150px;
    	height:150px;
    }*/

    .square-thumb {
        width: 150px;
        height: 150px;
    }

    #list {
    }
</style>
<script src="../../Scripts/Notification/ViewFolderDetails.js"></script>
@using (Html.BeginForm("PhotoGallery", "Notify", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <span>@Html.Raw(ViewBag.BreadCrumb)</span>
            @Html.Hidden("BackUrl", Url.Action("PhotoGallery", "Notify"))
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PGPreId)
            @Html.HiddenFor(model => model.Campus)
            @Html.HiddenFor(model => model.Grade)
            @Html.Hidden("PKId", "", new { @Value = @Html.Raw(Json.Encode(ViewBag.ImgIdsArray)) })                                    
            @*<input type="hidden" id="PKId" value="@ViewData["ImgIds"]" />*@
            @*@Html.Hidden("IsFolder", "", new { @Value = ViewBag.Folder })*@
            @Html.Hidden("ParentPKId", "", new { @Value = ViewBag.ParentPKId })                                      
            @Html.Hidden("PrePgId", "", new { @Value = ViewBag.PrePgId })
            @Html.Hidden("ParentPg", "", new { @Value = ViewBag.ParentPg })
            <div class="row">
                <div class="col-xs-12 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="fa fa-camera"></i>&nbsp;Photo Gallery
                            </div>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Campus</b></label>
                                        @if (Model != null)
                                        {
                                            //@Html.DropDownListFor(model => model.Campus, new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { id = "ddlBranchCode", @Class = "form-control select-sm" })
                                            <div>@Model.Campus</div>
                                        }
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Grade</b></label>
                                        @if (Model != null)
                                        {
                                            //@Html.DropDownListFor(model => model.Grade, new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { id = "ddlGrade", @Class = "form-control select-sm" })
                                            <div>@Model.Grade</div>
                                        }
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Publish To </b>
                                        </label>
                                        @*@if (Model != null)
                                        {
                                            @Html.DropDownListFor(model => model.PublishedTo, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              //new{Value="General",Text="General"},
                                              new{Value="Parent",Text="Parent"},
                                              new{Value="Student",Text="Student"},
                                              //new{Value="Staff",Text="Staff"}
                                          },
                          "Value", "Text", ""), new { id = "ddlPublishedTo", @Class = "form-control select-sm" })
                                        }*@
                                        @if (Model != null)
                                        {
                                        <div>@Model.PublishedTo</div>
                                        }
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Album Name</b></label>
                                        @if (Model != null)
                                        {
                                           // @Html.TextBoxFor(model => model.AlbumName, new { id = "txtAlbumName", @Class = "form-control textarea" })
                                            <div>@Model.AlbumName</div>
                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="form-field-select-1">
                                            <b>Description</b></label>
                                        @if (Model != null)
                                        {
                                            //@Html.TextAreaFor(model => model.Description, new { rows = 3, id = "txtDescription", @class = "form-control input-sm" })
                                            <div>@Model.Description</div>
                                        }
                                    </div>                                    
                                    <div class="space-20">
                                    </div>
                                </div>
                            </div>
                            <div class="space-2">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-2">
                                        <label for="form-field-select-1">
                                            <b>Action</b>
                                        </label>
                                        @Html.DropDownList("Action", new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},                                              
                                              new{Value="UploadPhotos",Text="UploadPhotos"},
                                              new{Value="NewFolder",Text="NewFolder"}
                                              //new{Value="DeleteFolder",Text="DeleteFolder"},                                              
                                          },
                          "Value", "Text", ""), new { id = "ddlAction", @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2" id="NewFolder">
                                        <label for="form-field-select-1">
                                            <b>Folder Name</b></label>
                                        @Html.TextBox("txtFolderName", "", new { id = "txtFolderName", @Class = "form-control input-sm" })
                                    </div>
                                    <div class="col-sm-2" id="UploadedPhotos">
                                        <label for="form-field-select-1">
                                            <b>Upload Photos</b></label>
                                        <div id="clear3">
                                            <input type="file" name="File" id="File" multiple="multiple" />
                                            <div id="Uploadedfiles">
                                                Uploaded Files :
                                            </div>
                                            <div class="space-8">
                                            </div>
                                            <div class="col-sm-6" style="margin-top: 1px">
                                                <div id="btn">
                                                    <button class="btn btn-warning btn-block btn-sm" type="button" onclick="uploaddoc2()"
                                                        value="Upload">
                                                        <i class="ace-icon fa fa-upload bigger-110 white">&nbsp;Upload</i></button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="margin-top: 1px">
                                                <button type="button" class="btn btn-block btn-grey btn-sm" id="clear2" value="Clear"
                                                    onclick="resethtml2()">
                                                    <i class="fa fa-undo bigger-110 white">&nbsp; Clear</i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" id="btnNewFolder" style="margin-top: 19px">
                                        <button class="btn btn-warning btn-block btn-sm-4" type="button" onclick="CreateNewFolder()"
                                            value="Upload">
                                            <i class="ace-icon fa fa-folder bigger-110 black">&nbsp;New</i></button>
                                    </div>
                                    @*<div class="col-sm-1" id="btndelFolder" style="margin-top: 19px">
                                        <button class="btn btn-danger btn-block btn-sm-4" type="button" onclick="DeleteFolder()"
                                            value="Upload">
                                            <i class="ace-icon fa fa-folder bigger-110 black">&nbsp;Delete</i></button>
                                    </div>*@
                                    <div class="col-sm-1">
                                        @*<div class="col-sm-6" style="margin-top: 19px">
                                            <button type="submit" name="btnSubmit" id="Submit" value="Submit" class="btn btn-primary btn-block btn-sm">
                                                <i class="fa fa-check bigger-110 white"></i>&nbsp;Submit</button>
                                        </div>*@
                                        <div style="margin-top: 19px">
                                            <button class="btn btn-danger btn-block btn-sm" type="reset" id="cancel" value="Cancel">
                                                <i class="ace-icon fa fa-times bigger-110 white"></i>&nbsp;Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="fa fa-picture-o"></i>&nbsp;Photo Gallery
                            </div>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-12">
                                        <span style="color: Red">Left Click on the Image to Delete</span>&nbsp;&nbsp;<span id="back"></span><span style="color:red;float:right">Right Click on the Folder to Delete</span><br />
                                        <div id="ViewAlbumImages">
                                        </div>
                                        <div class="space-6">
                                        </div>
                                        <br />
                                        <div id="list">
                                        </div>
                                    </div>                                    
                                   @* <div class="col-sm-2" id="back">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                                              
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                           
} 
@*<style>
    a {
        position: relative;
        display: inline-block;
    }

        a span {
            position: absolute;
            top: 100%;
            left: 10%;
            margin-top: -1em;
            margin-left: -50%;
            width: 100%;
            height: 3em;
        }
</style>*@
<style>
    a {
        position: relative;
        display: inline-block;
        margin-bottom:25px;
    }
        a span {
            position:absolute; 
            top:70%;                                  
            text-align:center;
            /*margin-top: -1em;
            margin-left: -50%;*/
            margin-bottom:5px;
            width: 80%;
            height: 2em;
        }
</style>