@model TIPS.Entities.ParentPortalEntities.Notification
@{
    ViewBag.Title = "View Individual Notifications";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<script src="../../Scripts/Notification/nicEdit.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Notification/ViewNotification.js")" type="text/javascript"></script>

<script src="../../Scripts/Notification/ViewNotifications.js" type="text/javascript"></script>
<script src="../../assets/js/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="../../assets/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("EditNotification", "Notify", FormMethod.Post, new { id = "NotifyForm", enctype = "multipart/form-data" }))
{
    
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <span>@Html.Raw(ViewBag.BreadCrumb)</span>
            @Html.Hidden("BackUrl", Url.Action("Notify", "Notify"))
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.NotePreId)
            @Html.HiddenFor(model => model.NoteType)
            @Html.HiddenFor(model => model.NewIds)
            @Html.HiddenFor(model => model.PublishedOn)
            @Html.HiddenFor(model => model.Campus)
            @Html.HiddenFor(model => model.Grade)
            @Html.HiddenFor(model => model.Section)
            @Html.Hidden("SuccessNotifyMsg", "", new { id = "SuccessNotifyMsg", @Value = @TempData["SuccessNotifyCreation"] })
            <div class="row">
                <div class="col-xs-12 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="fa fa-pencil-square-o"></i>&nbsp;Notification Details
                            </div>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Campus</b></label>
                                                @if (Model != null)
                                                {
           
                                                    @Html.DropDownListFor(model => model.Campus, new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { id = "ddlBranchCode", @Class = "form-control select-sm" })
                    
                                                }
                                            </div>                                           
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Topic</b></label>
                                                @if (Model != null)
                                                {
                                                    @Html.TextBoxFor(model => model.Topic, new { id = "txtTopic", @Class = "form-control input-sm" })
                                                }
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Publish Date</b></label>
                                                <div class="input-group input-group-sm">
                                                    @if (Model != null)
                                                    {  
                                                        @Html.TextBoxFor(model => model.PublishDate, new { id = "txtPublishDate", @Class = "form-control txtPublishDate" })
                                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Expire Date</b></label>
                                                <div class="input-group input-group-sm">
                                                    @if (Model != null)
                                                    {  
                                                        @Html.TextBoxFor(model => model.ExpireDate, new { id = "txtExpireDate", @Class = "form-control txtExpireDate" })
                                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Publish To</b></label>
                                                @if (Model != null)
                                                {
                                                    @Html.DropDownListFor(model => model.PublishTo, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="General",Text="General"},
                                              new{Value="Parent",Text="Parent"},
                                              new{Value="Student",Text="Student"},
                                              new{Value="Staff",Text="Staff"}
                                          },
                          "Value", "Text", ""), new { id = "ddlPublishTo", @Class = "form-control select-sm" })
                                                }
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Academic Year</b></label>
                                                @if (Model != null)
                                                {
                                                    @Html.DropDownListFor(model => model.AcademicYear, new SelectList(ViewBag.acadddl, "AcademicYear", "AcademicYear"), "Select AcademicYear", new { id = "AcademicYear", @Class = "form-control select-sm" })
                                                    // @Html.DropDownListFor(model => model.AcademicYear, new SelectList(ViewBag.acadddl, "AcademicYear", "AcademicYear"), "Select AcademicYear", new { id = "AcademicYear", @Class = "form-control select-sm" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">                                            
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Document Upload</b></label>
                                                <input type="file" name="file2" id="file2" title="Browse file to add" value="Browse" />
                                                <div id="Attachfiles2">
                                                    Attached Files 
                                                </div>
                                                <div id="ViewNoteAtt">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="form-field-select-1">
                                                    <b>Message</b></label>

                                                @if (Model != null)
                                                {
                                                    @Html.TextAreaFor(model => model.Message, new { rows = 3, id = "txtMessage", @class = "CSSTextArea", @style = "width:99%;height:57px" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                    <div class="row">
                                        <div class="col-xs-offset-2 col-xs-6">
                                            <div class="col-sm-12">
                                                <div id="clear2">
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-warning btn-sm" type="button" onclick="uploaddoc2()"
                                                            value="Upload">
                                                            <i class="ace-icon fa fa-upload"></i>&nbsp;Upload</button>
                                                    </div>
                                                    &nbsp;
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-gray btn-sm" id="clear" value="clear"
                                                        onclick="resethtml2()">
                                                        <i class="fa fa-undo white"></i>&nbsp;Clear</button>
                                                </div>
                                                    &nbsp;
                                                 <div class="col-sm-2">
                                                     <button class="btn btn-success btn-sm" name="btnSubmit" type="submit" id="Submit"
                                                         value="Submit">
                                                         <i class="fa fa-check"></i>&nbsp;Submit</button>
                                                 </div>
                                                    &nbsp;
                                            <div class="col-sm-2">
                                                <button class="btn btn-danger btn-sm" type="reset" id="cancel" value="Cancel">
                                                    <i class="ace-icon fa fa-times"></i>&nbsp;Cancel</button>
                                            </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2">
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table id="NotificationList" width="100%">
                    </table>
                    <div id="NotificationListPager">
                    </div>
                </div>
            </div>
        </div>
    </div>
    

}
<script src="@Url.Content("~/assets/js/AceJQMsg.js")" type="text/javascript"></script>
