@inherits System.Web.Mvc.WebViewPage<IEnumerable<TIPS.Entities.StaffEntities.StaffIssues>>
@{
    ViewBag.Title = "Staff Issue Management";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<script src="@Url.Content("~/assets/js/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
@*<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>*@
@*<script src='@Url.Content("~/Scripts/JQueryUI/jquery-ui-1.8.22.custom.min.js")'type="text/javascript"></script>*@
<script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/BootStrap/bootstrap-session-timeout.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/date-time/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script src='@Url.Content("~/assets/js/date-time/moment.min.js")'type="text/javascript"></script>
<script src='@Url.Content("~/assets/js/date-time/bootstrap-datetimepicker.min.js")'type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-datetimepicker.css")" type="text/css" />
@Html.Hidden("viewbagShowDueDate", "", new { @Value = ViewBag.ShowDueDate })
@using (Html.BeginForm("StaffIssueManagement", "StaffIssues", FormMethod.Post))
{
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <span>@Html.Raw(ViewBag.BreadCrumb)</span>
            <div class="row">
                <div class="col-xs-12 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel
                            </div>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                    <div class="col-xs-12">
                                        @Html.Hidden("SubmitSuccessMsg", "", new { id = "SubmitSuccessMsg", Value = TempData["SuccessIssueCreation"] })
                                        @*@Html.Hidden("viewbagcount", new { id = "viewbagcount", Value = ViewBag.count })                                        *@
                                        @Html.Hidden("viewbagcount", "", new { @Value = ViewBag.count })
                                        @Html.Hidden("BackUrl", Url.Action("StaffIssueManagement", "StaffIssues"))
                                        @Html.Hidden("SIMGTStatus", "", new { @Value = ViewBag.SIMGTStatus })
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Search By</b></label>
                                            @Html.DropDownList("ddlSearchBy", new SelectList(new[]
                                          {
                                              new {Value="",Text="Select One"},
                                              new{Value="IssueNumber",Text="Support Number"},
                                              new{Value="IssueGroup",Text="Issue Group"},
                                              new{Value="IssueType",Text="Issue Type"},
                                              new{Value="CreatedBy",Text="Created By"},
                                              new{Value="CreatedDate",Text="Created Date"},
                                              new{Value="Description",Text="Description"},
                                          }, "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Search Text</b></label>
                                            @Html.TextBox("txtSearch", "", new { @title = "Type Search Text", @Class = "form-control input-sm", @disabled = true })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>From Date</b></label>
                                            <div class="input-group input-group-sm">
                                                @Html.TextBox("txtFrmDate", "", new { @Class = "form-control date-picker" })
                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Status</b></label>
                                            @Html.DropDownList("ddlStatus", new SelectList(new[]
                                          {
                                              new{Value="Available",Text="Available"},
                                              new{Value="Assigned",Text="Assigned"},
                                              new{Value="Sent",Text="Sent"},
                                              new{Value="Completed",Text="Completed"},
                                                                                           
                                          }, "Value", "Text", "Available"), new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-1">
                                            <br />
                                            <button class="btn btn-primary btn-info btn-block btn-sm" type="button" id="btnSearch">
                                                <i class="ace-icon fa fa-search white"></i>Search
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <br />
                                            <button class="btn btn-danger btn-warning btn-block btn-sm" type="reset" id="btnReset">
                                                <i class="ace-icon fa fa-undo white"></i>Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-2">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-2">
                        <button class="btn btn-lg btn-success" type="button" id="btnCreateNewIssue">
                            <i class="ace-icon fa fa-pencil-square-o"></i>Register New Issue
                        </button>
                    </div>
                    @*<div class="col-sm-2">
                        <button class="btn btn-lg  btn-warning" type="button" id="btnBulkComplete">
                            <i class="ace-icon fa fa-check-square-o"></i>Bulk Issue Complete
                        </button>
                    </div>*@
                </div>
            </div>
            <div class="space-2">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table id="StaffManagementList">
                    </table>
                    <div id="StaffManagementListPager">
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-5"></div>
                    @if (ViewBag.ShowDueDate == "0")
                    {
                        <div class="col-sm-3"></div>    
                        <div class="col-sm-4">
                            <img src="../../Images/yellow.jpg" alt="" height="10px" width="10px" /><label style="font-size: x-small">&nbsp
                            Below 24 hrs
                            </label>
                            &nbsp&nbsp
                        <img src="../../Images/orange.jpg" alt="" height="10px" width="10px" /><label style="font-size: x-small">&nbsp
                            24-48 hrs</label>
                            &nbsp&nbsp
                        <img src="../../Images/redblink3.gif" alt="" height="10px" width="10px" /><label
                            style="font-size: x-small">&nbsp SLA Breached
                        </label>
                            &nbsp&nbsp
                        <img src="../../Images/green.jpg" alt="" height="12px" width="12px" /><label style="font-size: x-small">&nbsp
                            Completed</label>
                        </div>
                    }
                    else
                    {                    
                        <div class="col-sm-7">
                            <img src="../../Images/blue.jpg" alt="" height="10px" width="10px" /><label style="font-size: x-small">&nbsp
                            No Due Date
                            </label>
                            <img src="../../Images/yellow.jpg" alt="" height="10px" width="10px" /><label style="font-size: x-small">&nbsp
                            Below Due Date
                            </label>
                            &nbsp&nbsp
                        <img src="../../Images/orange.jpg" alt="" height="10px" width="10px" /><label style="font-size: x-small">&nbsp
                            Above Due Date(Below 24 hours)</label>
                            &nbsp&nbsp
                        <img src="../../Images/redblink3.gif" alt="" height="10px" width="10px" /><label
                            style="font-size: x-small">&nbsp SLA Breached
                        </label>
                            &nbsp&nbsp
                        <img src="../../Images/green.jpg" alt="" height="12px" width="12px" /><label style="font-size: x-small">&nbsp
                            Completed</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<div id="Activities"></div>
<div id="dialog" title="Basic dialog">
    <div id="showDescription"></div>
</div>
<div id="DivDueDate" title="Due Date">
</div>
<script src="@Url.Content("~/assets/js/AceJQMsg.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/StaffIssues/StaffIssueManagement.js")" type="text/javascript"></script>
<style>
    .myClass.ui-dialog .ui-dialog-titlebar {
        padding: 6px;
    }
</style>
