@{
    ViewBag.Title = "ExisitingParent";
    Layout = "~/Views/Shared/Kiosk_Layout.cshtml";
}


<script type="text/javascript" src="//wurfl.io/wurfl.js"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>

<script src='@Url.Content("~/Scripts/JQueryUI/jquery-ui-1.8.22.custom.min.js")'type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" type="text/css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui.min.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" id="main-ace-style" type="text/css" />
<script src="@Url.Content("~/assets/js/ace-extra.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/bootstrap.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/js/AceJQMsg.js")"  type="text/javascript"></script>
<style>
    .clslabel {
        text-align: center;
        /*font-size: 16px;*/
        /*margin-left: 30px;*/
        font-size: 14px;
        /*margin-bottom: 16px;*/
        text-transform: uppercase;
    }

    .secondheader {
        margin-left: 30px;
        font-size: 14px;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
</style>
<h2 class="headclass">Issue Request Form</h2>
<div class="form-style-5">
    @*<form> *@
        <fieldset>
@*            @Html.HiddenFor(model => model.IsHosteller)*@
                   @* @Html.HiddenFor(model => model.StudentType)
                    @Html.HiddenFor(model => model.UserType)
                    @Html.HiddenFor(model => model.Performer)
                    @Html.HiddenFor(model => model.UserInbox)
                    @Html.HiddenFor(model => model.UserRoleName)
                    @Html.HiddenFor(model => model.IssueNumber)*@
                  @*  @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.InstanceId)*@
           <legend><span class="number">1</span> <b style="font-size: x-large">Student Id Required</b><c style="font-size: smaller; padding-left: 3px;">(</c><d style="font-size: smaller; color: red;">*</d><e style="font-size: smaller;">  field is mandatory)</e></legend>
            <h2 class="secondheader">Please Enter your child id number</h2>
            <div class="col-xs-12">
                <div class="col-sm-3" id="StudId">
                    @Html.TextBox("StudentId", null, new { @Placeholder = "Student Id", id = "StudentId" })
                </div>
                <div class="col-sm-3" id="btn">
                    <input type="button" class="btn btn-primary" value="Submit" id="search" onclick='StudentIdNumber()' style="margin-top: -5px">
                </div>
            </div>

            <div id="details">
                <h2 class="secondheader">your child info</h2>
                <div class="col-xs-12">
                    <div class="col-sm-3">
                        <label>Student Name</label>
                        @Html.TextBox("Name", null, new { @Placeholder = "StudentName", id = "StudName", @readonly = true })
                    </div>
                    <div class="col-sm-2">
                        <label>Campus</label>
                        @Html.TextBox("Campus", null, new { @Placeholder = "Campus", id = "Campus", @readonly = true })
                    </div>
                    <div class="col-sm-2">
                        <label>Grade</label>
                        @Html.TextBox("Grade", null, new { @Placeholder = "Grade", id = "Grade", @readonly = true })
                    </div>
                    <div class="col-sm-3">
                        <label>Father Name</label>
                        @Html.TextBox("FatherName", null, new { @Placeholder = "FatherName", id = "FatherName", @readonly = true })
                    </div>
                    <div class="col-sm-2">
                        <label>Mobile No</label>
                        @Html.TextBox("MobileNo", null, new { @Class = "form-control input-sm", @Placeholder = "Mobile No", id = "orginalnumber" })
                    </div>
                    @*@Html.Hidden("number", "", new { id = "orginalnumber" })*@
                    @* <div class="col-sm-3">
                        @Html.TextBox("MotherName", null, new { @Class = "form-control input-sm", @Placeholder = "MotherName", id = "MotherName", @readonly = true })
                    </div>*@

                </div>
                <div>
                    <label class="clslabel">Are you looking for This student?</b></label>
                </div>
                <div>
                    <input class="btn btn-primary" value="Yes" id="Confirm" style="margin-left: 500px" type="button" onclick="confirm()">
                    <input class="btn btn-primary" value="No" id="NotConfirm" style="margin-left: 20px" type="button" onclick="notconfirm()">
                </div>
            </div>


            <div id="Otp">
                <h2 class="secondheader">Please Enter the OTP Sent to the Mobile No</h2>
                <div class="col-xs-12">
                    <div class="col-sm-2">
                        @*<label>OTP</label>*@
                        @Html.TextBox("Name", null, new { @Class = "form-control input-sm", @Placeholder = "Enter Otp", id = "OTP" })
                    </div>

                    @Html.Hidden("NewId", "", new { id = "hidden" })

                    <div class="col-sm-2">
                        <input class="btn btn-primary" id="OtpCheck" onclick="checkotp()" style="margin-top: -5px" value="Submit" type="button">
                    </div>
                </div>
            </div>


            <div id="form">
                <h2 class="secondheader">Issue Register Form</h2>
                <div class="col-xs-12">
                    <div style="visibility: hidden">
                        @* @Html.Hidden("NewId", "", new { @Value = ViewBag.NewId })*@
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("Issue Related To", new SelectList(ViewBag.IssueGroupddl, "Value", "Text"), "Issue Related To", new { id = "IssueGroup", @onchange = "GetIssueType()" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("IssueType", new SelectList(Enumerable.Empty<SelectListItem>()), "Select the Issue", new { id = "ddlIssueType", @Class = "form-control height-20" })
                    </div>
                    <div class="col-sm-5">
                        @Html.TextArea("Description", new { rows = 4, id = "description", @Placeholder = "Description" })
                    </div>
                    <div>
                        <input value="Submit" id="btnsubmit" class="btn btn-primary" style="margin-bottom: 30px; margin-top: 30px; margin-left: 450px" type="button">
                    </div>

                </div>
            </div>
        </fieldset>
    @*</form>*@
</div>




@*<div class="col-sm-3"  id="feedback">
                            @Html.TextArea("Description", new { rows = 3, id = "comment", @Placeholder = "Feedback" })
                        </div>*@







<script>
    $("#CpystudId").hide();
    $("#Otp").hide();
    function notconfirm() {
        debugger;
        location.reload();
    }
    function checkotp() {
        debugger;
        var otp = $("#OTP").val();
        //var otp2 = ViewData["OTP"];
        @* if( @ViewData["OTP"].ToString() )
        {
     var otp2 = '@ViewData["OTP"].ToString()';
        }*@
        var otp2 = $("#hidden").val();

        //
        if (otp == otp2) {
            debugger;
            //var StudentId = $("#StudentId").val();
            //alert(StudentId);
            //window.location.href = '/Kiosk/IssueRegistration/?StudentId=' + StudentId;
            $("#Otp").hide();
            $('#details').hide();
            $("#search").hide();
            $("#form").show();
        }
        else {
            ErrMsg("Invalid OTP");
        }
    }


    function confirm() {
        debugger;
        var mobileno = $("#orginalnumber").val();
        //alert(mobileno);
        var campus = $("#Campus").val();
        $.ajax({
            type: 'POST',
            url: "/Kiosk/ConfirmDetails",
            datatype: 'json',
            data: { mobileno: mobileno, campus: campus },
            success: function (data) {
                debugger;
                $("#hidden").val(data);
                //$("#Otp").show();
                $('#details').hide();
                $("#form").show();
                $("#StudentId").attr("disabled", true);
                $("#btn").hide();
             
                

            }
        });


    }



    $('#Issue').hide();
    $('#smtbtn').hide();
    $('#details').hide();
    $("#form").hide();


    function purpose() {
        debugger;
        var visitpurpose = $('#VisitPurpose').val();
        if (visitpurpose == 'Issue Request') {
            debugger;
            $('#feedback').hide();
            $('#Issue').show();
        }
        else if (visitpurpose == 'FeedBack') {
            $('#Issue').hide();
            $('#feedback').show();
        }
    }


    $("#Name").autocomplete({
        source: function (request, response) {
            debugger;

            var Campus = $("#Campus").val();
            var Grade = $("#ddlgrade").val();
            $.getJSON('/Kiosk/FillAutoCompleteStudentName?term=' + request.term + '&Campus=' + Campus + '&Grade=' + Grade, function (data) {
                response(data);
            });
        },
        select: function (event, ui) {
            debugger;
            StudentIdNumber(ui.item.value);
        },
        minLength: 1,
        delay: 1
    });


    //GetStudentDetailsListWithPagingAndCriteria


    function StudentIdNumber() {
        debugger;
        var StudentId = $("#StudentId").val();
        if (StudentId == "")
        {
            ErrMsg("Please Enter StudentID");
        }
        else
        {
            $.ajax({
                type: 'POST',
                url: "/Kiosk/GetStudentDetailsByIdNumber",
                data: { StudentId: StudentId },
                success: function (data) {
                    debugger;
                    if (data =="") {
                        ErrMsg("Student Id Is Incorrect!! ")
                    }
                    else {
                        
                        $("#Campus").val(data.Campus);
                        $("#Grade").val(data.Grade);
                        //$("#FatherName").val(data.FatherName);
                        //$("#MotherName").val(data.MotherName);
                        $("#StudName").val(data.Name);
                        $("#nameofstud").val(data.Name);
                        $("#details").show();
                        var PreRegNum = data.PreRegNum;
                        $.ajax({
                            type: 'POST',
                            url: "/Kiosk/GetFamilyDetailsByPreRegNum",
                            data: { PreRegNum: PreRegNum },
                            success: function (data) {
                                debugger;

                                var str = data.Mobile;
                                $("#orginalnumber").val(str);
                                str = str.replace(/\d(?=\d{4})/g, "*");
                                $("#MobileNo").val(str);
                                if (data.FamilyDetailType = "Father") {
                                    $("#FatherName").val(data.Name);
                                }
                                if (data.FamilyDetailType = "Mother") {
                                    $("#MotherName").val(data.Name);
                                }

                            }
                        });
                    }
                }
            });
        }
    }

    function GetIssueType() {
        debugger;
        var value = $('#IssueGroup').val();
        //alert(value);
        if (value != "") {
            $.ajax({
                type: 'POST',
                async: false,
                url: '@Url.Content("~/Kiosk/FillIssueType")?IssueGroup=' + value,
                success: function (data) {

                    $("#ddlIssueType").empty();
                    $("#ddlIssueType").append("<option value=''> Select the Issue </option>");

                    for (var i = 0; i < data.rows.length; i++) {

                        @*if (data.rows[i].Text == "@Model.IssueType") {
                            $("#ddlIssueType").append("<option value='" + data.rows[i].Value + "' selected='selected'>" + data.rows[i].Text + "</option>");
                        } else {*@
                        $("#ddlIssueType").append("<option value='" + data.rows[i].Value + "'>" + data.rows[i].Text + "</option>");
                        //}
                    }
                },
                dataType: "json"
            });
        }
        else {
            $("#ddlIssueType").empty();
            $("#ddlIssueType").append("<option value=''> Select the Issue </option>");
        }
    }

    $("#btnsubmit").click(function () {
        debugger;

        var IssueType = $("#ddlIssueType").val();
        if (IssueType == "") {
            ErrMsg("Please fill IssueType");
            return false;
        }
        var IssueGroup = $("#IssueGroup").val();
        if (IssueGroup == "") {
            ErrMsg("Please fill IssueGroup");
            return false;
        }

        var Description = $("#description").val();
        if (Description == "") {
            ErrMsg("Please fill Description");
            return false;
        }
        var StudentId = $("#StudentId").val();
        if (WURFL.is_mobile === false && WURFL.form_factor === "Desktop") {

            //$("#devicetype").val(WURFL.form_factor);
            var devicetype = WURFL.form_factor;
            //alert("devicetype");

        }
        else {
            var devicetype = "mobile";
        }

        $.ajax({
            type: 'POST',
            url: "/Kiosk/RegisterIssues",
            datatype: 'json',
            data: { StudentId: StudentId, IssueGroup: IssueGroup, IssueType: IssueType, Description: Description,devicetype:devicetype },
            success: function (data) {
                debugger;
                if (data != null) {
                    window.location.href = "@Url.Content("/Kiosk/IssueRegistration")";
                   @* setTimeout(function () {
                       
                        }, 25000000);*@
                }
                else
                    ErrMsg(" Issue Registration Failed! Please try later");
            }
        });

    });

    
</script>
