@model TIPS.Entities.AdmissionEntities.StudentTemplate
<div class="row">
    <div class="col-xs-12 widget-container-col">
        <div class="widget-box widget-color-CustomizeBlue">
            <div class="widget-header widget-header-flat widget-header-small">
                <div class="PanelHeader">
                    <i class="ace-icon fa fa-archive"></i>&nbsp;Approve & Assign
                </div>
                <div class="widget-toolbar">
                    <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="space-6"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Name</b></label><br>
                                @ViewBag.nam
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Gender</b></label><br>
                                @ViewBag.gender 
                                <input type="hidden" id="grade" value="@ViewBag.grade" /> <input type="hidden" id="nam" value="@ViewBag.nam" />
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Grade</b></label><br>
                              @ViewBag.grade 
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Campus</b></label><br>
                                @ViewBag.campus
                            </div>
                        </div>
                    </div>
                    <div class="space-6"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Status</b></label><br>
                                @if ((ViewBag.admissionstatus == "Registered") || (ViewBag.admissionstatus == "Declined")  || (ViewBag.admissionstatus == "Inactive"))
                             {
                    @Html.DropDownListFor(Model => Model.AdmissionStatus, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Registered",Text="Registered"},
                                              new{Value="Inactive",Text="Inactive"}                                              
                                          },
                            "Value", "Text", ""), new { id = "Status", @Class = "form-control select-sm"})
                             }
                             else if ((ViewBag.admissionstatus == "Discontinued"))
                             {
                    @Html.DropDownListFor(Model => Model.AdmissionStatus, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Discontinued",Text="Discontinued"}                                       
                                          },
                            "Value", "Text", ""), new { id = "Status", @Class = "form-control select-sm" })
                             }
                             else
                             {                                                                 
                                         @Html.DropDownListFor(Model => Model.AdmissionStatus, new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="Registered",Text="Registered"},
                                              new{Value="On Hold",Text="On Hold"},
                                              new{Value="Declined",Text="Declined"},
                                              new{Value="Call For Interview",Text="Call For Interview"}
                                          },"Value", "Text", ""), new { id = "Status", @Class = "form-control select-sm" })
                             }                 
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Fee Structure Year</b></label><br>
                               @if ((ViewBag.admissionstatus == "Registered") || (ViewBag.admissionstatus == "Declined") || (ViewBag.admissionstatus == "Inactive"))
                                     {
                                         @Html.DropDownListFor(Model => Model.FeeStructYear, new SelectList(ViewBag.feestructyrddl, "FeeStructureYear", "AcademicYear"), "Select", new { id = "feestructddl", @Class = "form-control select-sm", @disabled = "disabled" })
                                     }
                                     else if (ViewBag.admissionstatus == "Sent For Approval")
                                     {
                                    @Html.DropDownListFor(Model => Model.FeeStructYear, new SelectList(ViewBag.feestructyrddl, "FeeStructureYear", "AcademicYear"), "Select", new { id = "feestructddl", @Class = "form-control select-sm" })
                                         }
                                     else
                                     {
                                    @Html.DropDownListFor(Model => Model.FeeStructYear, new SelectList(ViewBag.feestructyrddl, "FeeStructureYear", "AcademicYear"), "Select", new { id = "feestructddl", @Class = "form-control select-sm", @disabled = "disabled" })
                                     }
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-select-1">
                                    <b>Assign Section</b></label><br>
                               @if ((ViewBag.admissionstatus == "Registered") || (ViewBag.admissionstatus == "Declined") || (ViewBag.admissionstatus == "Inactive"))
                                    {
                                          @Html.DropDownListFor(Model => Model.Section, new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select", new { id = "AssignSection", @Class = "form-control select-sm", @disabled = "disabled" })
                                    }
                                 else if (ViewBag.admissionstatus == "Sent For Approval")
                                 {
                                       @Html.DropDownListFor(Model => Model.Section, new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select", new { id = "AssignSection", @Class = "form-control select-sm" })
                                        }
                                    else
                                    {
                                    @Html.DropDownListFor(Model => Model.Section, new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select", new { id = "AssignSection", @Class = "form-control select-sm", @disabled = "disabled" })
                                    }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 space-30">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 space-70">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 space-30">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<script src="../../Scripts/AdmissionScripts/ApproveAssign.js"></script>
