@model TIPS.Entities.AdmissionEntities.BulkPromTransfer
@{
    ViewBag.Title = "BulkTransfer";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<h3>
    Promotion and Transfer</h3>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui.dropdownchecklist-1.4-min.js")" ></script>
<script language="javascript">
    $(document).ready(function () {

        if ('@ViewBag.TransferOrNot' == "True") { ErrMsg("The student cann't transfer same campus."); } else { }

        if ('@ViewBag.IsSaveList' == "True") {
            $('#btnsaveList').hide();
            $('#RequestName').attr('readonly', true); $('#RequestName').css('background', '#E3E8E9');
            $('#ddlcampus').attr('disabled', true); $('#ddlcampus').css('background', '#E3E8E9');
            $('#ddlgrade').attr('disabled', true); $('#ddlgrade').css('background', '#E3E8E9');
            $('#Transfer').show();
        } else {
            $('#btnsaveList').show();
            $('#RequestName').attr('readonly', false);
            $('#ddlcampus').attr('disabled', false);
            $('#ddlgrade').attr('disabled', false);
            $('#Transfer').hide();
        }


        $("#Grid").jqGrid({
            url: '@Url.Content("~/Admission/NewTransferJqGrid")?BulkPromTransferRequestId=' + '@Model.BulkPromTransferRequestId',
            datatype: 'json',
            type: 'GET',
            colNames: ['Id', 'Application No', 'Pre-Reg No', 'Name of Applicant', 'Grade', 'Section', 'Campus', 'Fee Structure Year', 'Admission Status', 'Student Id', 'Academic Year', 'Applied Date', 'Is PromotionOrTransfer'],
            colModel: [
              { name: 'Id', index: 'Id', hidden: true },
              { name: 'ApplicationNo', index: 'ApplicationNo' },
              { name: 'PreRegNum', index: 'PreRegNum', key: true },
              { name: 'Name', index: 'Name', width: 400 },
              { name: 'Grade', index: 'Grade' },
              { name: 'Section', index: 'Section' },
              { name: 'Campus', index: 'Campus' },
              { name: 'FeeStructYear', index: 'FeeStructYear' },
              { name: 'AdmissionStatus', index: 'AdmissionStatus' },
              { name: 'NewId', index: 'NewId' },
              { name: 'AcademicYear', index: 'AcademicYear' },
              { name: 'AppliedDate', index: 'CreatedDate' },
              { name: 'IsPromotionOrTransfer', index: 'IsPromotionOrTransfer', hidden: true }
              ],
            loadComplete: function () {
                debugger;
                var rowIds = $("#Grid").jqGrid('getDataIDs');
                for (i = 0; i < rowIds.length; i++) {
                    rowData = $("#Grid").jqGrid('getRowData', rowIds[i]);
                    if (rowData.IsPromotionOrTransfer == "True") {
                        $("#" + rowIds[i]).find("td").css("background-color", "#DEE3E4");
                    } else { }

                }
            },
            rowNum: 50,
            rowList: [50, 100, 150, 200, 250, 300],
            pager: '#GridPager',
            sortname: 'Id',
            viewrecords: true,
            multiselect: true,
            sortorder: "Desc",
            width: 1190,
            height: 200,
            caption: 'Promotion and Transfer'

        });
        jQuery("#GridPager").jqGrid('navGrid', '#GridPager', { del: true, add: false, edit: false });

        $('#btnSearch').click(function () {
            if ($('#ddlcampus').val() == "") { ErrMsg("Please fill the Campus"); return false; }
            if ($('#ddlgrade').val() == "") { ErrMsg("Please fill the Campus"); return false; }
            $("#Grid").setGridParam(
                {
                    datatype: "json",
                    url: '@Url.Content("~/Admission/NewTransferJqGrid")',
                    postData: { BulkPromTransferRequestId: '@Model.BulkPromTransferRequestId', campus: $('#ddlcampus').val(), grade: $('#ddlgrade').val(), section: $('#Section').val().toString(), admStatus: $('#admstats').val(), feeStructure: $('#feestructddl').val(), appName: $('#appname').val(), idNum: $('#idnumber').val(), isHosteller: $('#ishosteller').val(), academicYear: $('#academicyear').val(), searchType: "" },
                    page: 1
                }).trigger("reloadGrid");
        });

        $('#btnsaveList').click(function () {
            if ($('#RequestName').val() == "") { ErrMsg("Please fill the Request"); return false; }
            if ($('#ddlcampus').val() == "") { ErrMsg("Please fill the Campus"); return false; }
            if ($('#ddlgrade').val() == "") { ErrMsg("Please fill the Grade"); return false; }
        });

        $('#btnCancel').click(function () {
            window.location.href = '@Url.Action("BulkPromTransferRequestDetails", "Admission")';
        });
        $("#Section").dropdownchecklist({
            firstItemChecksAll: true,
            maxDropHeight: 150,
            Height: 80,
            width: 155
        });
        /*-------------------------------------------section--------------------------------------------------*/
        $("#Section").empty();
        $("#Section").append("<option value=' '> All </option>");
        $("#Section").dropdownchecklist('destroy');
        $("#Section").append("<option value='A'>A</option>");
        $("#Section").append("<option value='B'>B</option>");
        $("#Section").append("<option value='C'>C</option>");
        $("#Section").append("<option value='D'>D</option>");
        $("#Section").append("<option value='E'>E</option>");
        $("#Section").append("<option value='F'>F</option>");
        if ('@Model.Section' != "" & '@Model.Section' != null) {
            var sec = '@Model.Section';
            var secArr = sec.split(',');

            if (secArr != "") {
                for (var j = 0; j < secArr.length; j++) {
                    //alert(secArr[j]);
                    $('#Section option').filter(function () { return $(this).text() == '' + secArr[j] + '' }).attr('selected', 'selected').prop('checked', true);
                }
            }
        }
        $("#Section").dropdownchecklist({
            firstItemChecksAll: true,
            maxDropHeight: 150,
            Height: 80,
            width: 155
        });
        /*------------------------------------------------End section-----------------------------------------------*/



        $("#Transfer").click(function () {
            $("#TransferDiv").html("");
            debugger;
            var GridIdList = $("#Grid").jqGrid('getGridParam', 'selarrrow');
            var bulkPreRegNum;
            var rowData = [];
            var rowPreregno = [];
            var rowcampus = [];
            var rowgrade = [];
            if (GridIdList.length > 0) {

                for (var i = 0; i < GridIdList.length; i++) {
                    bulkPreRegNum += GridIdList[i];
                }

                //                if (GridIdList.length > 1) {
                //                    ErrMsg("Only 1 Student can be trafered at once");
                //                } else {

                rowData[0] = $("#Grid").jqGrid('getRowData', GridIdList[0]);
                rowgrade = rowData[0].Grade;
                rowcampus = rowData[0].Campus;
                rowPreregno = rowData[0].PreRegNo;
                $.ajax({
                    url: '/Admission/transfergrade',
                    type: 'GET',
                    data: { grd: rowgrade },
                    traditional: true,
                    success: function (data) {
                        LoadPopupDynamicaly2("/Admission/NewTransfer?BulkPromTransferRequestId=" + '@Model.BulkPromTransferRequestId' + '&PreRegNum=' + GridIdList.toString(), $('#TransferDiv'),
                                                function () {
                                                    // document.getElementById("preregno2").value = rowPreregno;
                                                });
                    }
                });


                // }





            } else {

                ErrMsg("Please select the row"); return false;

            }






        });


    });


    function LoadPopupDynamicaly2(dynURL, ModalId, loadCalBack, onSelcalbck, width) {
        //  alert('here');
        if (width == undefined) { width = 490; }
        if (ModalId.html().length == 0) {
            $.ajax({
                url: dynURL,
                type: 'GET',
                // type: 'POST',
                async: false,
                dataType: 'html', // <-- to expect an html response
                //    data: { ActivityId: rowData1 },
                success: function (data) {
                    ModalId.dialog({
                        height: 310,
                        width: width,
                        modal: true,
                        title: 'Transfer',
                        buttons: {}
                    });
                    ModalId.html(data);
                }
            });
        }
        clbPupGrdSel = onSelcalbck;
        ModalId.dialog('open');
        CallBackFunction(loadCalBack);
    }

    
</script>
@using (Html.BeginForm("BulkTransfer", "Admission", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table id="DetailsPage" width="100%">
        <tr>
            <td>
                <table class="WithBorderOnly" width="100%">
                    <tr class="PanelHeading">
                        <th align="left" colspan="5">
                            Search
                        </th>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <th>
                            Request
                        </th>
                        <th>
                            Campus
                        </th>
                        <th>
                            Grade
                        </th>
                        <th>
                            Section
                        </th>
                        <th>
                            Admission Status
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.RequestName, new { id = "RequestName", @Class = "CSSTextBox", @maxlength = "30" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.Campus, new SelectList(ViewBag.campusddl, "Name", "Name"), "Select One", new { id = "ddlcampus", @Class = "CSSDropDownList" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.Grade, new SelectList(ViewBag.gradeddl, "gradcod", "gradcod"), "Select One", new { id = "ddlgrade", @Class = "CSSDropDownList" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.Section, new MultiSelectList(Enumerable.Empty<SelectListItem>()), new { @multiple = "multiple" })
                            @*@Html.DropDownListFor(m => m.Section, new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select One", new { id = "Section", @Class = "CSSDropDownList" })*@
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.AdmissionStatus, new SelectList(new[] {
                                  new{Value="",Text="Select One"},
                                              new{Value="Registered",Text="Registered"},
                                              new{Value="Discontinued",Text="Discontinued"},
                                              new{Value="Inactive",Text="Inactive"}
                                 }, "Value", "Text", ""), new { id = "admstats", @Class = "CSSDropDownList" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Fee Structure Year
                        </th>
                        <th>
                            Applicant Name
                        </th>
                        <th>
                            Id Number
                        </th>
                        <th>
                            Is Hosteller
                        </th>
                        <th>
                            Academic Year
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.FeeStructYear, new SelectList(ViewBag.feestructddl, "FeeStructureYear", "AcademicYear"), "Select", new { id = "feestructddl", @Class = "CSSDropDownList" })
                        </td>
                        <td>
                            @Html.TextBox("appname", "", new { @Class = "CSSTextBox", @maxlength = "30" })
                        </td>
                        <td>
                            @Html.TextBox("idnumber", "", new { @Class = "CSSTextBox", @maxlength = "30" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.Name, new SelectList(new[] {
                                  new{Value="",Text="Select One"},
                                              new{Value="Yes",Text="Yes"},
                                              new{Value="No",Text="No"}                           
                                 }, "Value", "Text", ""), new { id = "ishosteller", @Class = "CSSDropDownList" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.AcademicYear, new SelectList(ViewBag.acadddl, "AcademicYear", "AcademicYear"), "Select One", new { id = "academicyear", @Class = "CSSDropDownList" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <input type="button" value="Search" id="btnSearch" />
                            <input type="button" value="Reset" id="btnreset" />
                            <input type="submit" value="saveList" id="btnsaveList" />
                            <input type="button" value="Cancel" id="btnCancel" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table id="Grid">
                            </table>
                            <div id="GridPager">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <input type="button" value="Transfer" name="Transfer" id="Transfer" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
<div id="TransferDiv"></div>
