@{
    ViewBag.Title = "TCRequestReport";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}

<div class="page-content">
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable tabs-top">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#reason" data-toggle="tab"><i class="ace-icon fa fa-table"></i>&nbsp;By Reason</a> </li>
                        <li><a data-toggle="tab" href="#grade"><i class="ace-icon fa fa-graduation-cap"></i>&nbsp;By Grade</a></li>
                    </ul>
                    <div class="tab-content col-xs-6.col-sm-10">
                        <div class="tab-pane in active" id="reason">
                            <div class="row">
                                <div class="col-xs-12 widget-container-col">
                                    <div class="widget-box widget-color-CustomizeBlue">
                                        <div class="widget-header widget-header-flat widget-header-small">
                                            <div class="PanelHeader">
                                                <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel
                                            </div>
                                            <div class="widget-toolbar">
                                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                                    <div class="col-xs-12">
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>Academic Year</b>
                                                            </label>
                                                            @*</div>
                                    <div class="col-sm-2" style="padding: 0px;">*@
                                                            @Html.DropDownList("txtacayear2", new SelectList(ViewBag.acadyrddl, "AcademicYear", "AcademicYear"), "Select", new { @Class = "form-control select-sm" })
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>Status</b></label>
                                                            @Html.DropDownList("ddlstatus", new SelectList(new[]{
                                           new { Text = "Select", Value = ""},
                                                                          new { Text = "InProgress", Value = "InProgress" },
                                                                          new { Text = "Completed", Value = "Completed" }
                                            }, "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>From Date</b></label>
                                                            <div class="input-group input-group-sm">
                                                                @Html.TextBox("txtFromDate", "", new { @Class = "form-control" })
                                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>To Date</b></label>
                                                            <div class="input-group input-group-sm">
                                                                @Html.TextBox("txtToDate", "", new { @Class = "form-control" })
                                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <br />
                                                            <button type="button" class="btn btn-mini btn-primary" id="btnsrch2">
                                                                <i class="fa fa-search" style="vertical-align: middle"></i>&nbsp;Search
                                                            </button>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <br />
                                                            <button type="button" class="btn btn-mini btn-danger" id="btnreset2">
                                                                <i class="fa fa-undo" style="vertical-align: middle"></i>&nbsp;Reset
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <table id="JqGridreason">
                            </table>
                            <div id="JqGridreasonPager">
                            </div>
                        </div>
                        <div class="tab-pane" id="grade">
                            <div class="row">
                                <div class="col-xs-12 widget-container-col">
                                    <div class="widget-box widget-color-CustomizeBlue">
                                        <div class="widget-header widget-header-flat widget-header-small">
                                            <div class="PanelHeader">
                                                <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel
                                            </div>
                                            <div class="widget-toolbar">
                                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                                    <div class="col-xs-12">
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>Academic Year</b>
                                                            </label>
                                                            @*</div>
                                                        <div class="col-sm-2" style="padding: 0px;">*@
                                                            @Html.DropDownList("txtacayear1", new SelectList(ViewBag.acadyrddl, "AcademicYear", "AcademicYear"), "Select", new { @Class = "form-control select-sm" })
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>Status</b></label>
                                                            @Html.DropDownList("ddlstatus1", new SelectList(new[]{
                                           new { Text = "Select", Value = ""},
                                                                          new { Text = "InProgress", Value = "InProgress" },
                                                                          new { Text = "Completed", Value = "Completed" }
                                            }, "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>From Date</b></label>
                                                            <div class="input-group input-group-sm">
                                                                @Html.TextBox("txtFromDate1", "", new { @Class = "form-control" })
                                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>
                                                                <b>To Date</b></label>
                                                            <div class="input-group input-group-sm">
                                                                @Html.TextBox("txtToDate1", "", new { @Class = "form-control" })
                                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <br />
                                                            <button type="button" class="btn btn-mini btn-primary" id="btnsrch1">
                                                                <i class="fa fa-search" style="vertical-align: middle"></i>&nbsp;Search
                                                            </button>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <br />
                                                            <button type="button" class="btn btn-mini btn-danger" id="btnreset1">
                                                                <i class="fa fa-undo" style="vertical-align: middle"></i>&nbsp;Reset
                                                            </button>
                                                        </div>
                                                        <div class="col-sm-2">
                                                        </div>
                                                        <div class="col-sm-2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="JqGridgrade">
                            </table>
                            <div id="JqGridgradePager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../Scripts/AdmissionScripts/TCRequestReport.js"></script>
