@model TIPS.Entities.HRManagementEntities.LeaveRequest
@{
    ViewBag.Title = "LeaveRequest1";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        // Search Text hide Text Details...
        $("#txtNumberOfLeaves").attr("readonly", true).css("background-color", "#F5F5F5");


        var Details = "@ViewBag.Details";
        var Reply = "@ViewBag.Reply";
        var Hrapp = "@ViewBag.HRApprole";
        if (Hrapp == "8") { $("#HRRejection1").show(); $('#txtRejectionDetails').attr("disabled", false); } else { $("#HRRejection1").hide(); }


        if (('@Model.Status' == "AcceptLeaveRequest") || ('@Model.Status' == "ApproveLeaveRequest")) {
            $('#txtLeaveDescription').attr("disabled", true);
            $('#txtDescription').attr("disabled", true);
            $('#btnSentApply').attr("disabled", true);
            $('#ReplyDescription').hide();
            $('#Reply').attr("disabled", true);
            $('#idComplete').attr("disabled", true);
        } else if ('@Model.Status' == "LeaveRequestRejected") {
            $('#ResolutionDescription').hide();
            $('#RejectionComments').hide();
            $('#ReplyDescription').show();
        } else if ('@Model.Status' == "Complete") {
            $('#ReplyDescription').hide();
            $('#RejectionComments').hide();
            $('#txtResolutionDescription').attr("readonly", true)
        }


        // Date Details...
        $("#StartDate").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: 0,
            maxDate: "+60D",
            numberOfMonths: 1,
            onSelect: function (selected) {

                $("#EndDate").datepicker("option", "minDate", selected)
            }
        });
        $("#EndDate").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: 0,
            //            maxDate: "+60D",
            numberOfMonths: 1,
            onSelect: function (selected) {
                $("#StartDate").datepicker("option", "maxDate", selected)
                function parseDate(str) {
                    var mdy = str.split('/')
                    return new Date(mdy[2], mdy[1], mdy[0] - 1);
                }

                function daydiff(SDate, EDate) {
                    return (EDate - SDate) / (1000 * 60 * 60 * 24)
                }
                //                alert(daydiff(parseDate($("#StartDate").val()), parseDate($("#EndDate").val())));
                var datevalue = daydiff(parseDate($("#StartDate").val()), parseDate($("#EndDate").val()));
                if (datevalue == 0) {
                    document.getElementById("txtNumberOfLeaves").value = daydiff(parseDate($("#StartDate").val()), parseDate($("#EndDate").val())) + 1;
                }
                else {
                    document.getElementById("txtNumberOfLeaves").value = daydiff(parseDate($("#StartDate").val()), parseDate($("#EndDate").val())) + 1;
                }
            }
        });

        $("#EndDate").click(function () {
            var SDate = $("#StartDate").val();
            if (SDate == "") {
                ErrMsg("Please select From Date");
                return false;
            }
        });
        function rejectionValidation(msg) {
            if ($('#txtRejectionDetails').val() == null || $('#txtRejectionDetails').val() == "") {
                ErrMsg(msg, function () { $('#txtRejectionDetails').focus(); });
                return false;
            }
            else {
                return true;
            }
            return false;
        }

        $('#LeaderRejection').click(function () {
            return rejectionValidation("Please enter the comments to reject.");

        });

        $('#HRRejection1').click(function () {
            return rejectionValidation("Please enter the comments to reject.");

        });

        function ResolutionValidation(msg) {
            if ($('#txtResolutionDescription').val() == null || $('#txtResolutionDescription').val() == "") {
                ErrMsg(msg, function () { $('#txtResolutionDescription').focus(); });
                return false;
            }
            else {
                return true;
            }
            return false;
        }

        $('#SendResolveLeave').click(function () {
            return ResolutionValidation("Please enter the Accept comments.");

        });

        function LeaveDescription(msg) {
            if ($('#txtReplyDescription').val() == null || $('#txtReplyDescription').val() == "") {
                ErrMsg(msg, function () { $('#txtReplyDescription').focus(); });
                return false;
            }
            else {
                return true;
            }
            return false;
        }


        $('#Reply').click(function () {
            return LeaveDescription("Please enter the Reply Comments.");
        });

        $("#Rejection").click(function () {
            var Rejection = $("#txtRejectionDetails").val();
            if (Rejection == "") {
                ErrMsg("Please fill the Rejection Comments");
                return false;
            }
        });

        $("#Approve").click(function () {
            var Approve = $("#txtApprovedDetails").val();
            if (Approve == "") {
                ErrMsg("Please Fill the Approve Comments");
                return false;
            }
        });

        $("#btnBacktoInbox").click(function () {
            window.location.href = '@Url.Action("LeaveRequestGrid", "HRManagement")';
        });
        $("#btnBacktoInbox1").click(function () {
            window.location.href = '@Url.Action("LeaveRequestGrid", "HRManagement")';
        });

        $("#CommentList").jqGrid({
            url: '/HRManagement/LeaveRejectionGrid?Id=' + $('#Id').val(),
            datatype: 'json',
            mtype: 'GET',
            colNames: ['Commented By', 'Commented On', 'Rejection Comments', 'Reply Comments'],
            colModel: [
              { name: 'CommentedBy', index: 'CommentedBy', sortable: false },
              { name: 'CommentedOn', index: 'CommentedOn', sortable: false },
              { name: 'RejectionComments', index: 'RejectionComments', sortable: false },
              { name: 'ResolutionComments', index: 'ResolutionComments', sortable: false }
             ],
            rowNum: -1,
            autowidth: true,
            height: 150,
            sortname: 'EntityRefId',
            sortorder: "desc",
            viewrecords: true,
            caption: 'Discussion Forum'
        });

    });
</script>
<h3>
    Leave Request Details</h3>
@using (Html.BeginForm("LeaveRequest", "HRManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{       
    @Html.HiddenFor(m => m.CreatedBy)                           
   
    <table width="100%" class="WithBorderOnly" id="ApproveDetails">
        <tr valign="top">
            <td width="40%" valign="top">
                <table width="100%" cellpadding="6" cellspacing="6">
                    <tr class="PanelHeading">
                        <td colspan="2">
                            Basic Details
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Request Number</label>
                        </td>
                        <td>
                            @Model.RequestNo
                            @Html.HiddenFor(m => m.RequestNo)
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.InstanceId)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                DateTime</label>
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy h:mm tt }", Model.CreateDate)
                            @* // @Model.CreateDate*@
                            @Html.HiddenFor(m => m.CreateDate)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Procesed By</label>
                        </td>
                        <td>
                            @Model.ProcessedBy
                            @Html.HiddenFor(m => m.ProcessedBy)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                UserRole</label>
                        </td>
                        <td>
                            @Model.UserRole
                            @Html.HiddenFor(m => m.UserRole)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Status</label>
                        </td>
                        <td>@Model.Status
                            @Html.HiddenFor(m => m.Status)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Staff Name</label>
                        </td>
                        <td>
                            @Model.StaffName
                            @Html.HiddenFor(m => m.StaffName)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Staff Id Number</label>
                        </td>
                        <td>
                            @Model.StaffIdNumber
                            @Html.HiddenFor(m => m.StaffIdNumber)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Campus</label>
                        </td>
                        <td>
                            @Model.BranchCode
                            @Html.HiddenFor(m => m.BranchCode)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Reporting Manager</label>
                        </td>
                        <td>@Model.ReportingManager
                            @Html.HiddenFor(m => m.ReportingManager)
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Type Of Leave</label>
                        </td>
                        @if (@Model.Status == "LeaveRequestRejected")
                        {
                            <td>
                                @Html.DropDownListFor(model => model.TypeOfLeave, new SelectList(new[]
                                          {
                                              new{Value="",Text="--Select One--"},
                                              new{Value="Medical Leave",Text="Medical Leave"},
                                              new{Value="Casual Leave",Text="Casual Leave"},
                                              new{Value="On Duty",Text="On Duty"},
                                              new{Value="Privelege Leave",Text="Privelege Leave"},
                                              new{Value="Compensatory Leave",Text="Compensatory Leave"},

                                          },
         "Value", "Text", ""), new { id = "ddlTypeOfLeave", style = "background-color: white;color: #666666;border: #006699 1px solid;font: normal 11px Verdana,Arial,sans-serif;" })
                                <span style="color: Red">*</span>
                            </td>
                        }
                        else
                        { 
                            <td>
                                @Model.TypeOfLeave
                                @Html.HiddenFor(m => m.TypeOfLeave)
                            </td>
                        }
                    </tr>
                    <tr>
                        <td width="30%">
                            <label class="lblheader">
                                Date Applying For Leave</label>
                        </td>
                        @if (@Model.Status == "LeaveRequestRejected")
                        {
                            <td>
                                From : @Html.TextBoxFor(model => model.DateFrom, new { id = "StartDate", @Class = "CSSTextBox", @readonly = "true" })
                                <span style="color: Red">*</span><br />
                                <br />
                                To :&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBoxFor(model => model.DateTo, new { id = "EndDate", @Class = "CSSTextBox", @readonly = "true" })
                                <span style="color: Red">*</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                From : @Model.DateFrom
                                @Html.HiddenFor(m => m.DateFrom)&nbsp; To : @Model.DateTo
                                @Html.HiddenFor(m => m.DateTo)
                            </td> 
                        }
                    </tr>
                    <tr>
                        <td width="30%" valign="baseline">
                            <label class="lblheader">
                                Total Number Of Leaves</label>
                        </td>
                        @if (@Model.Status == "LeaveRequestRejected")
                        {
                            <td>
                                @Html.TextBoxFor(model => model.NumberOfLeaves, new { id = "txtNumberOfLeaves", @Class = "CSSTextBox", @maxlength = "48", @readonly = "true" })
                            </td> 
                        }
                        else
                        {
                            <td>@Model.NumberOfLeaves
                                @Html.HiddenFor(m => m.NumberOfLeaves)
                            </td>
                        }
                    </tr>
                    <tr align="center">
                        <td width="100%" align="center" colspan="2">
                            @if (@Model.Status == "LeaveRequestRejected" || @Model.Status == "ApproverLeaveRejected")
                            {
                                <input type="submit" id="Reply" name="StaffReply" value="Reply" />
                            }

                            else if (@Model.Status == "AcceptLeaveRequest")
                            {
                                <input type="submit" id="SendResolveLeave" name="btnResolveLeave" value="Accept Leave" />
                                <input type="submit" id="LeaderRejection" name="btnLeaderRejection" value="Reject" />
                            }
                            else if (@Model.Status == "ApproveLeaveRequest")
                            {
                                <input type="submit" id="Approve" name="btnApproval" value="Approve" />
                                <input type="submit" id="HRRejection1" name="btnLeaderRejection" value="Reject" />
                
                            }

                            else if (@Model.Status == "Complete")
                            { 
                                <input type="submit" id="idComplete" name="nameComplete" value="Complete" />
                            }
                            <input type="button" value="Back to Inbox" id="btnBacktoInbox1" />
                        </td>
                    </tr>
                </table>
            </td>
            <td width="60%" valign="baseline">
                <br />
                <table width="90%">
                    <tr valign="top">
                        <td width="40%">
                            <label class="lblheader">
                                Leave Description</label>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Description, new { rows = 3, cols = 65, id = "txtDescription", @class = "CSSTextArea", @readonly = "true" })
                            @Html.HiddenFor(m => m.Description)
                            <span style="color: Red">*</span>@Html.ValidationMessageFor(model => model.Description)
                        </td>
                    </tr>
                    <tr id="ReplyDescription">
                        <td>
                            <label class="lblheader">
                                Reply Comments</label>
                        </td>
                        <td colspan="2">@Html.TextArea("txtReplyDescription", new { rows = 3, cols = 65, id = "txtReplyDescription", @class = "CSSTextArea" })
                        </td>
                    </tr>
                    <tr valign="top" id="ResolutionDescription">
                        <td width="40%">
                            <label class="lblheader">
                                Accept Comments</label>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.ResolveComments, new { rows = 3, cols = 65, id = "txtResolutionDescription", @class = "CSSTextArea" })
                        </td>
                    </tr>
                    <tr valign="top" id="RejectionComments">
                        <td width="40%">
                            <label class="lblheader">
                                Rejection Comments</label>
                        </td>
                        <td>
                            @Html.TextArea("txtRejectionDetails", new { rows = 3, cols = 65, id = "txtRejectionDetails", @class = "CSSTextArea" })
                            <span style="color: Red">*</span>
                            @Html.HiddenFor(m => m.RejectionDetails)
                        </td>
                    </tr>
                    <tr valign="baseline">
                        <td colspan="2">
                            <table id="CommentList">
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}