@{
    ViewBag.Title = "LeaveRequestGrid";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<script src="../../Scripts/datepicker1.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        if ("@ViewBag.Name" == "6") { ErrMsg("Access Denied", function () { window.location.href = '@Url.Action("Home","Home")' }); }

        if ("@ViewBag.flag" == "1") {ErrMsg("Reporting Manager is not available", function () { window.location.href = '@Url.Action("Home","Home")' }); }

        // Leave Request Created Message...
        if ($("#SubmitSuccessMsg").val() != null & $("#SubmitSuccessMsg").val() != "") {
            InfoMsg("Leave Request created successfully.\n Request Number is:" + $("#SubmitSuccessMsg").val(), function () { $("#SubmitSuccessMsg").val(""); });
        }

        // hide the create Leave Request Button...
        var value = "@ViewBag.count";
        var value1 = "@ViewBag.count1";
        if (value == 1) {
            $("#btnCreate").hide();
        }
        else if (value1 == 1) {
            $("#btnCreate").hide();
        }


        //create Button Details...
        $("#btnCreate").click(function () {
            window.location.href = '@Url.Action("LeaveRequest", "HRManagement")';
        });

        // Reset Button Details...
        $("#reset").click(function () {
            window.location.href = '@Url.Action("LeaveRequestGrid", "HRManagement")';
        });

        // Status Details...
        $("#ddlStatus").change(function () {
            var status = $("#ddlStatus").val();
            $("#Search").click();
        });

        // Search Button Details...
        $("#Search").click(function () {
            $("#HRGrid").clearGridData();
            var txtSearch = $("#txtSearch").val();
            var ddlSearchBy = $("#ddlSearchBy").val();
            var fromDate = $("#txtFromDate").val();
            var status = $("#ddlStatus").val();

            $("#HRGrid").setGridParam(
                {
                    datatype: "json",
                    url: '@Url.Content("~/HRManagement/LeaveRequestJqGrid/")',
                    postData: { txtSearch: txtSearch, ddlSearchBy: ddlSearchBy, fromDate: fromDate, status: status },
                    page: 1
                }).trigger("reloadGrid");
        });

        // SearchBy Label details...
        $("#ddlSearchBy").change(function () {
            if ($("#ddlSearchBy").val() == "") {
                $("#txtSearch").val("");
                $("#txtSearch").attr("disabled", true);
            }
            else {
                $("#txtSearch").attr("disabled", false);
            }
        });

        $("#ddlStaffSearchBy").change(function () {
            if ($("#ddlStaffSearchBy").val() == "") {
                $("#txtSearch").val("");
                $("#txtSearch").attr("disabled", true);
            }
            else {
                $("#txtSearch").attr("disabled", false);
            }
        });

        var status = $("#ddlStatus").val();
        jQuery("#HRGrid").jqGrid({
            mtype: 'GET',
            //                                url: '/HRManagement/LeaveRequestJqGrid',
            url: '@Url.Content("~/HRManagement/LeaveRequestJqGrid")?status=' + status,
            datatype: 'json',
            mtype: 'GET',
            height: '250',
            width: '1200',
            shrinkToFit: true,
            colNames: ['Id', 'Leave Request Number', 'Created Date', 'Status', 'Staff Name', 'Staff Id Number', 'Campus','Type Of Leave', 'Date Applying For Leave', 'History'],
            colModel: [
                          { name: 'Id', index: 'Id', hidden: true },
                          { name: 'RequestNo', index: 'RequestNo', width: 90, align: 'left', sortable: false },
                            {name: 'CreateDate', index: 'CreateDate', align: 'left', width: 140, formatter: DateChangeDetails, sortable: false },
                          { name: 'ActivityFullName', index: 'ActivityFullName', align: 'left', width: 120, sortable: false },
                          { name: 'StaffName', index: 'StaffName', align: 'left', width: 120, sortable: false },
                          { name: 'StaffIdNumber', index: 'StaffIdNumber', align: 'left', width: 120, sortable: false },
                          { name: 'Campus', index: 'Campus', align: 'left', width: 90, sortable: false },
                          { name: 'TypeOfLeave', index: 'TypeOfLeave', align: 'left', width: 130, sortable: false },
                          { name: 'DateApplyingForLeave', index: 'DateApplyingForLeave', align: 'left', width: 150, sortable: false },
                          { name: 'History', index: 'History', width: 50, align: 'center', sortable: false },

                       ],
            pager: '#HRGridPagger',
            rowNum: '10',
            rowList: [5, 10, 20, 50, 100, 150, 200 ],
            sortname: 'Id',
            sortorder: "Desc",
            multiselect: true,
            viewrecords: true,
            caption: 'Leave Request Details',

            loadError: function (xhr, status, error) {
                $("#HRGrid").clearGridData();
                ErrMsg($.parseJSON(xhr.responseText).Message);
            }
        });


    });
    function DateChangeDetails(cellvalue, options, rowObject) {
        var Date = cellvalue.split(" ");
        var dd = Date[0];
        var time = Date[1];
        var value = Date[0].split("/");
        var mm = value[0];
        var dd1 = value[1];
        var yy = value[2];
        var resultField = dd1 + "/" + mm + "/" + yy + " " + time;
        return resultField;

    }

    function ShowComments(ActivityId) {
        modalid = $('#Activities');
        $('#ActivitiesList').clearGridData();
        LoadPopupDynamicaly("/HRManagement/LoadUserControl/Activities", modalid, function () {
            LoadSetGridParam($('#ActivitiesList'), "/HRManagement/ActivitiesListJqGrid?Id=" + ActivityId);
        });
    }
    function LoadSetGridParam(GridId, brUrl) {
        GridId.setGridParam({
            url: brUrl,
            datatype: 'json',
            mtype: 'GET',
            page: 1
        }).trigger("reloadGrid");
    }
    var clbPupGrdSel = null;
    function LoadPopupDynamicaly(dynURL, ModalId, loadCalBack, onSelcalbck, width) {
        if (width == undefined) { width = 800; }
        if (ModalId.html().length == 0) {
            $.ajax({
                url: dynURL,
                type: 'GET',
                async: false,
                dataType: 'html', // <-- to expect an html response
                success: function (data) {
                    ModalId.dialog({
                        height: 'auto',
                        width: width,
                        modal: true,
                        title: 'History',
                        buttons: {}
                    });
                    ModalId.html(data);
                }
            });
        }
        clbPupGrdSel = onSelcalbck;
        ModalId.dialog('open');
        CallBackFunction(loadCalBack);
    }

</script>
@using (Html.BeginForm("LeaveRequestGrid", "HRManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h3>
        Leave Request Details</h3>
    <table class="InnerTable" width="100%">
        <tr>
            <td colspan="5">
                @Html.Hidden("SubmitSuccessMsg", "", new { id = "SubmitSuccessMsg", @Value = TempData["variableName"] })
                <table width="100%" class="WithBorderOnly">
                    <tr class="PanelHeading">
                        <th colspan="7">
                            Search Criteria
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Search By
                        </th>
                        <th>
                            Search Text
                        </th>
                        <th>
                            From Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                    <tr>
                        @if (@ViewBag.count == "1" || @ViewBag.count1 == "1")
                        {
                            <td>
                                @Html.DropDownList("ddlSearchBy", new SelectList(new[]
                                          {
                                              new {Value="",Text="--Select One--"},
                                              new{Value="StaffName",Text="Staff Name"},
                                              new{Value="StaffIdNumber",Text="Staff Id Number"},
                                              new{Value="ActivityFullName",Text="Status"},
                                              new{Value="TypeOfLeave",Text="Leave Type"},
                                              new{Value="BranchCode",Text="Campus"},
                                          },
                            "Value", "Text", ""), new { @Class = "CSSDropDownList", style = "width:145px;" })
                            </td>
                        }
                        else
                        {
            
                            <td>
                                @Html.DropDownList("ddlSearchBy", new SelectList(new[]
                                          {
                                              new {Value="",Text="--Select One--"},
                                              new{Value="RequestNo",Text="Request Number"},
                                              new{Value="TypeOfLeave",Text="Leave Type"},
                                              new{Value="ActivityFullName",Text="Status"},
                                             // new{Value="CreateDate",Text="Created Date"},
                                              //new{Value="BranchCode",Text="Campus"},
                                          },
                            "Value", "Text", ""), new { @Class = "CSSDropDownList", style = "width:145px;" })
                            </td>
                        }
                        <td>
                            @Html.TextBox("txtSearch", "", new { @title = "Type Search Text", @Class = "CSSTextBox", @disabled = true })
                        </td>
                        <td>
                            @Html.TextBox("txtFromDate", " ", new { @Class = "datepicker1", style = "border: #006699 1px solid;" })
                        </td>
                        @if (@ViewBag.HrHead == "4")
                        {
                            <td>
                                @Html.DropDownList("ddlStatus", new SelectList(new[]
                                          {
                                              new{Value="Available",Text="Available"},
                                              new{Value="Assigned",Text="Assigned"},
                                              new{Value="Sent",Text="Sent"},
                                              new{Value="Completed",Text="Completed"},
                                                                                           
                                          },
                                   "Value", "Text", "Available"), new { @Class = "CSSDropDownList", style = "width:145px;" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DropDownList("ddlStatus", new SelectList(new[]
                                          {
                                              //new{Value="Available",Text="Available"},
                                              new{Value="Assigned",Text="Assigned"},
                                              new{Value="Sent",Text="Sent"},
                                              new{Value="Completed",Text="Completed"},
                                                                                           
                                          },
                                   "Value", "Text", "Available"), new { @Class = "CSSDropDownList", style = "width:145px;" })
                            </td>
                        }
                        <td>
                            <input type="button" id="Search" value="Search" />
                        </td>
                        <td align="left">
                            <input type="button" value="Reset" id="reset" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="20%">
                <input type="button" name="btnCreate" id="btnCreate" value="Create Leave Request" />
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <table id="HRGrid" class="InnerTable" width="100%">
                </table>
                <div id="HRGridPagger">
                </div>
            </td>
        </tr>

    </table>
}
<div id="Activities"></div>
