@{
    ViewBag.Title = "ShowPastYearSubjectMarks";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}

<script src="@Url.Content("~/Scripts/Assess360/ShowPastYearSubjectMarks.js")" type="text/javascript"></script>
<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-3 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="ace-icon fa fa-search"></i>&nbsp; Ass360RequestCreation</div>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                            </div>
                            <div class="space-8">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-2">
                                            <b>Campus</b></label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("Campus", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "form-control select-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="space-8">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-2">
                                            <b>Grade</b></label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("Grade", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "form-control select-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="space-8">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-2">
                                            <b>Section</b></label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("Section",
                    new SelectList(new[] { 
                        new { Text = "", Value = "Select", Seleced = "True" },
                        new { Text = "A", Value = "A", Seleced = "false" },
                        new { Text = "B", Value = "B", Seleced = "false" },
                        new { Text = "C", Value = "C", Seleced = "false" },
                        new { Text = "D", Value = "D", Seleced = "false" },
                        new { Text = "E", Value = "E", Seleced = "false" },
                        new { Text = "F", Value = "F", Seleced = "false" }
               }, "Text", "Value", "Seleced"),
                        new { @Class = "form-control select-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="space-8">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-2">
                                            <b>Subject</b></label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("Subject",
                    new SelectList(new[] { 
                        new { Text = "", Value = "Select", Seleced = "True" },
                        new { Text = "English", Value = "English", Seleced = "false" },
                        new { Text = "Language-Hindi", Value = "Language-Hindi", Seleced = "false" },
                        new { Text = "Language-French", Value = "Language-French", Seleced = "false" },
                        new { Text = "HC&G", Value = "HC&G", Seleced = "false" },
                        new { Text = "Mathematics", Value = "Mathematics", Seleced = "false" },
                        new { Text = "Biology", Value = "Biology", Seleced = "false" },
                        new { Text = "Physics", Value = "Physics", Seleced = "false" },
                        new { Text = "Chemistry", Value = "Chemistry", Seleced = "false" },
                        new { Text = "ICT", Value = "ICT", Seleced = "false" },
                        new { Text = "Economics", Value = "Economics", Seleced = "false" },
                        new { Text = "Physical Education", Value = "Physical Education", Seleced = "false" }
               }, "Text", "Value", "Seleced"),
                        new { @Class = "form-control select-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="space-8">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-2">
                                            <b>Semester</b></label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("Semester",
                    new SelectList(new[] { 
                         new { Text = "", Value = "Select", Seleced = "True" },
                        new { Text = "Sem I", Value = "Sem I", Seleced = "True" },
                        new { Text = "Sem II", Value = "Sem II", Seleced = "false" },
                     new { Text = "Sem III", Value = "Sem III", Seleced = "false" }
               }, "Text", "Value", "Seleced"),
                        new { @Class = "form-control select-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="space-8">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label for="form-field-select-2">
                                            <b>Academic Year</b></label>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("AcademicYear",
                    new SelectList(new[] { 
                         new { Text = "", Value = "Select", Seleced = "True" },
                        new { Text = "2013-2014", Value = "2013-2014", Seleced = "True" },
                        new { Text = "2014-2015", Value = "2014-2015", Seleced = "false" }
                    
               }, "Text", "Value", "Seleced"),
                        new { @Class = "form-control select-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="space-2">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                    <div class="space-8">
                                                </div>
                                        <button class="btn btn-success btn-block btn-sm" id="search" value="Search" type="button">
                                            <i class="ace-icon fa fa-search white"></i>Search</button>
                                    </div>
                                    <div class="col-sm-6">
                                     <div class="space-8">
                                                </div>
                                        <button class="btn btn-danger btn-block btn-sm" id="reset" value="Reset" type="button">
                                            <i class="ace-icon fa fa-undo white"></i>&nbsp;Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-12" id="grid">
                            <table id="ShowPastYearMarks">
                            </table>
                            <div id="ShowPastYearPager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
