@{
    ViewBag.Title = "Assessment Test Report";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<div class="page-content">
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        @Html.Hidden("BackUrl", Url.Action("SummativeAssessmentReport", "Assess360"))
        <div class="row">
            <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-CustomizeBlue">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <div class="PanelHeader">
                            <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel
                        </div>
                        <div class="widget-toolbar">
                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-2">
                                        <b>Name</b>
                                        @Html.TextBox("Name", null, new { @Class = "form-control input-sm" })
                                        @Html.Hidden("IsCombinedSci")
                                    </div>
                                    <div class="col-sm-2">
                                        <b>Campus Name</b>
                                        @Html.DropDownList("Campus", new SelectList(new[] {
                                          new { Value = "",Text = "Select"},
                                          new { Value = "IB MAIN",Text = "IB MAIN"}}, "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <b>Grade</b>
                                        @Html.DropDownList("Grade", new SelectList(new[] { 
                                        new { Value = "",Text = "Select"},
                                        new { Value = "VI",Text = "VI" },
                                        new { Value = "VII",Text = "VII" },
                                        new { Value = "VIII",Text = "VIII" },
                                        new { Value = "IX",Text = "IX" },
                                        new { Value = "X",Text = "X" }
                                        }, "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <b>Section</b>
                                        @Html.DropDownList("Section", new SelectList(new[] { 
                                                new { Value = "", Text= "Select" },
                                                new { Value = "A",Text = "A" },
                                                new { Value = "B",Text = "B" },
                                                new { Value = "C",Text = "C" },
                                                new { Value = "D",Text = "D" },
                                                new { Value = "E",Text = "E" },
                                                new { Value = "F",Text = "F" },
                                        }, "Value", "Text", ""), new { @Class = "form-control select-sm" })
                                    </div>
                                    <div class="col-sm-2">
                                        <b>Model Exam</b>
                                        @Html.DropDownList("modelExam", new SelectList(Enumerable.Empty<SelectListItem>()), "----Select----", new { @Class = "form-control select-sm" })
                                        @*@Html.DropDownList("modelExam", new SelectList(new[] { new { Text = "Select", Value = "Select", Seleced = "True" } }, "Text", "Value", "Selected"), new { @Class = "form-control select-sm" })*@
                                        @*@Html.DropDownList("month", new SelectList(new[] { 
                                                new { Value = "", Text= "Select" },
                                                new { Value = "Model I" Month="6",Text = "Model I" },
                                                new { Value = "Model II" Month="7",Text = "Model II" },
                                                new { Value = "Model III" Month="8",Text = "Model III" },
                                                new { Value = "Model IV" Month="9",Text = "Model IV" },
                                        }, "Value","Text",""), new { @Class = "form-control select-sm" })*@
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button type="submit" class="btn btn-success btn-block btn-sm" id="btnSearch">
                                            <i class="ace-icon fa fa-search white"></i>Search
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <br />
                                        <button type="button" class="btn btn-danger btn-block btn-sm" id="btnReset">
                                            <i class="ace-icon fa fa-undo white"></i>Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="Grid">
                            </table>
                            <div id="Pager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='@Url.Content("/Scripts/Assess360/SummativeAssessmentReport.js")' type="text/javascript"></script>
