@using TIPS.Entities.Assess
@model ReportCardFromAssess360VItoVIII
@if (Model.RptAchiveAward != null)
{
    var SemIIAwardList = (from n in Model.RptAchiveAward
                          where n.Semester == "Sem II"
                          select n).ToList();
    <table class="termTwoAchievImage">
        <tr>
            <td>
                @if (SemIIAwardList.Count > 0)
                {
                        <div style="margin-top: 350px; margin-left:200px; height: 200px; width: 1000px;">
                            <p><b style="color: #0a9c88;">@SemIIAwardList[0].Achievement : </b>@SemIIAwardList[0].AchievementDescription</p>
                            <p><b style="color: #0a9c88;">@SemIIAwardList[0].Award : </b>@SemIIAwardList[0].AwardDescription</p>
                        </div>
                }
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <div style="margin: 110px;">
                    <img usemap="#ChartImageMap" src='@Url.Action("GetChart", new { assessId = Model.AssessId, term = "Sem II" })'
                alt="Asp.Net Charting generated image"
                style="width:2100px;height:1400px;border-width:0px;" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @DateTime.Now.ToString("dd'/'MM'/'yyyy")
            </td>
        </tr>
    </table>
}
