@{
    ViewBag.Title = "WeightingCrossCheck";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}

<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
    @Html.Hidden("BackTo", Url.Action("SaveBulkComponent", "Assess360"))

        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
        <div class="row">
            <div class="col-xs-12 widget-container-col">
                <div class="widget-box widget-color-CustomizeBlue">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <div class="PanelHeader">
                            <i class="ace-icon fa fa-search"></i>&nbsp;Search Criteria</div>
                        <div class="widget-toolbar">
                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Campus</b></label>
                                            @Html.DropDownList("ddlCampus", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new {@Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Grade</b></label>
                                            @Html.DropDownList("ddlGrade", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new {@Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Academic Year</b></label>
                                            @Html.DropDownList("ddlyear", new SelectList(ViewBag.acadddl, "AcademicYear", "AcademicYear"), "Select One", new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                <b>Subject</b></label>
                                            @Html.DropDownList("Subject",new SelectList(Enumerable.Empty<SelectListItem>()), "Select", new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="space-10">
                                            </div>
                                            <button class="btn btn-success btn-block btn-sm" id="Search" value="Search"
                                                type="button">
                                                <i class="ace-icon fa fa-search white"></i>Search</button></div>
                                        <div class="col-sm-1">
                                            <div class="space-10">
                                            </div>
                                            <button class="btn btn-danger btn-block btn-sm" id="reset" value="Reset">
                                                <i class="ace-icon fa fa-undo white"></i>&nbsp;Reset
                                            </button>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                                <div class="space-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-1">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="WeightingCrossCheck">
                </table>
                <div id="WeightingCrossCheckPager">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Assess360/WeightingCrossCheck.js")" type="text/javascript"></script>