@model TIPS.Entities.EmployeeEntities.EmployeeAttendance

@{
    ViewBag.Title = "EmployeeAttendance";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}

<div class="page-content">
    <!-- /section:settings.box -->
    <div class="page-content-area">
        <span>@Html.Raw(ViewBag.BreadCrumb)</span>
      @*  @using (Html.BeginForm("EmployeeAttendance", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            *@<div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-xs-12 widget-container-col">
                                <div class="widget-box widget-color-CustomizeBlue">
                                    <div class="widget-header widget-header-flat widget-header-small">
                                        <div class="PanelHeader">
                                            <i class="ace-icon fa fa-pencil-square-o"></i>&nbsp;Add Pannel
                                        </div>
                                        <div class="widget-toolbar">
                                            <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <div class="row">
                                                <div class="col-xs-12" style="padding-top: 15px;">
                                                    <div class="col-sm-5">
                                                        <label for="form-field-select-1">
                                                            <b>Campus</b></label>
                                                    </div>
                                                    <div class="col-sm-7">
                                                      @Html.DropDownListFor(Model => Model.Campus, new SelectList(ViewBag.campusddl, "Name", "Name"), "Select One", new { @Class = "form-control select-sm" })
                                                      @Html.Hidden("SuccessMsg", "", new { id = "SuccessMsg", @Value = ViewBag.Success })
                                                      @Html.HiddenFor(Model => Model.PreRegNum)
                                                    </div>
                                                </div>
                                                <div class="col-xs-12" style="padding-top: 20px;">
                                                    <div class="col-sm-5">
                                                        <label for="form-field-select-1">
                                                            <b>Emp Name</b></label>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        @Html.TextBoxFor(Model => Model.EmployeeName, new { @class = "form-control input-sm" ,id="gs_EmployeeName" })

                                                    </div>
                                                </div>
                                                <div class="col-xs-12" style="padding-top: 20px;">
                                                    <div class="col-sm-5">
                                                        <label for="form-field-select-1">
                                                            <b>Emp ID No</b></label>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        @Html.TextBoxFor(Model => Model.EmployeeIdNo, new { @class = "form-control input-sm", @Readonly = "Readonly"})
                                                    </div>
                                                </div>
                                                <div class="col-xs-12" style="padding-top: 20px;">
                                                    <div class="col-xs-5">
                                                        <label for="form-field-select-1">
                                                            <b>Date of Absent</b></label>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div class="row">
                                                            <div class="col-xs-11">
                                                                @Html.TextBoxFor(Model => Model.AbsentDate, new { id = "AbsentDate", @Class = "form-control datepicker" })
                                                            </div>
                                                            <div class="col-xs-1" style="margin-left: -20px;">
                                                                <i class="ace-icon fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12" style="padding-top: 20px;">
                                                    <div class="col-sm-5">
                                                        <label for="form-field-select-1">
                                                            <b>Type of Absent</b></label>
                                                    </div>
                                                    <div class="col-sm-7">


                                                        @Html.DropDownListFor(Model => Model.AbsentType, new SelectList(new[]
                                          {
                                             new { Text = "Select", Value = "Select", Seleced = "True" },
                                                new { Text = "Leave", Value = "Leave", Seleced = "false" },
                                                new { Text = "Absent", Value = "Absent", Seleced = "false" },
                                          },
                   "Value", "Text", ""), new { id = "AbsentType", @Class = "form-control select-sm" })
                                                    </div>
                                                </div>

                                                <div class="col-xs-12" style="padding-top: 29px; padding-bottom: 47px;">
                                                    <div class="col-sm-6">
                                                        <button type="submit" class="btn btn-primary btn-block btn-sm" id="btnSelect" onclick="EmployeeAttendance(); return false;">
                                                            <i class="ace-icon fa fa-check-circle white"></i>Ok
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-danger btn-block btn-sm" id="btnReset">
                                                            <i class="ace-icon fa fa-undo white"></i>Reset
                                                        </button>
                                                    </div>
                                                </div>
                                              
                                                 <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <table id="EmpAttendanceDetailsList">
                        </table>
                        <div id="EmpAttendanceDetailsListPager">
                        </div>
                    </div>
                </div>
            </div>
       @* }*@
    </div>
</div>
<script src="../../Scripts/Employee/EmployeeAttendance.js"></script>
