@model TIPS.Entities.User
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Account_Master.cshtml"; 
}

<script type="text/javascript">
    if ("@ViewBag.User" == -1) {
        ErrMsg("User Id or Password is incorrect.Please provide the registered UserId.");
    }
    var error = "@ViewBag.Error";

    if (error != "") {
        ErrMsg(error);
    }
    $(function () {

        $("#UserId").val('@Session["UserId"].ToString()').attr("readonly", "readonly").css("background-color", "#f5f5f5");

        //$("#btnChangePassword").click(function () {
        //    debugger;
        //    var userId = $("#UserId").val();
        //    var oldPassword = $("#OldPassword").val();
        //    var newPassword = $("#NewPassword").val();
        //    var confirmPassword = $("#ConfirmPassword").val();

        //    if ($.trim(userId).length == 0) {
        //        ErrMsg('UserId is Mandatory.');
        //        return false;
        //    }

        //    if ($.trim(oldPassword).length == 0) {
        //        ErrMsg('Old Password is Mandatory.');
        //        return false;
        //    }
        //    if ($.trim(newPassword).length == 0) {
        //        ErrMsg('New Password is Mandatory.');
        //        return false;
        //    }
        //    if ($.trim(newPassword).length < 6) {
        //        ErrMsg('Password should be minimum of 6 characters.');
        //        return false;
        //    }
        //    if ($.trim(confirmPassword).length == 0) {
        //        ErrMsg('Confirm New Password is Mandatory.');
        //        return false;
        //    }
        //    if (newPassword != confirmPassword) {
        //        ErrMsg("New Password and Confirm New Password doesn't match.");
        //        return false;
        //    }

        //});
    });


    function ChangePassword() {
        var UserId = $("#UserId").val();
        var Password = $("#OldPassword").val();
        var NewPassword = $("#NewPassword").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        if (UserId == '' || Password == '' || NewPassword == '' || ConfirmPassword == '') {
            ErrMsg("Please fill all the mandatory fields.");
            return false;
        }
        if ($.trim(UserId).length == 0) {
            ErrMsg('UserId is Mandatory.');
            return false;
        }

        if ($.trim(Password).length == 0) {
            ErrMsg('Old Password is Mandatory.');
            return false;
        }
        if ($.trim(NewPassword).length == 0) {
            ErrMsg('New Password is Mandatory.');
            return false;
        }
        if ($.trim(NewPassword).length < 6) {
            ErrMsg('Password should be minimum of 6 characters.');
            return false;
        }
        if ($.trim(ConfirmPassword).length == 0) {
            ErrMsg('Confirm New Password is Mandatory.');
            return false;
        }
        if (NewPassword != ConfirmPassword) {
            ErrMsg("New Password and Confirm New Password doesn't match.");
            return false;
        }
        var UserId = $("#UserId").val();
        var Password = $("#OldPassword").val();
        var NewPassword = $("#NewPassword").val();
        var ConfirmPassword = $("#ConfirmPassword").val();
        $.ajax({
            type: 'POST',
            url: "/Account/CustomChangePassword?UserId=" + UserId + '&Password=' + Password + '&NewPassword=' + NewPassword + '&ConfirmPassword=' + ConfirmPassword,
            //success: function (data) {
            //    InfoMsg("Password Successfully Changed");
            //},
            //error: function (jqXHR, status, err) {
            //    InfoMsg("Local error callback.");
            //},
        });
    }
</script>

<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="space-6">
                        </div>
                        <div class="position-relative">
                            <div id="forgot-box" class="forgot-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="clearfix">
                                            <div>
                                                <img src="../../Images/logonace.jpg" style="float: left; height: 57px; width: 113px" />
                                            </div>
                                            <div>
                                                <img src="../../Images/tips.gif" style="float: right; height: 57px; width: 113px" />
                                            </div>
                                        </div>
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>Change Password
                                        </h4>
                                        <div class="space-6">
                                        </div>
                                        <p>
                                            Enter your Below details to change password
                                        </p>
                                        @*    @using (Html.BeginForm("CustomChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                                    *@<label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control input-sm", @readonly = true, id = "UserId" })
                                                            @Html.ValidationMessageFor(m => m.UserId)
                                                            <i class="ace-icon fa fa-user"></i></span>
                                                    </label>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", placeholder = "Old-Password", id = "OldPassword" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                                <i class="ace-icon fa fa-unlock-alt"></i></span>
                                        </label>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm", placeholder = "New-Password", id = "NewPassword" })
                                                @Html.ValidationMessageFor(m => m.NewPassword)
                                                <i class="ace-icon fa fa-th-large"></i></span>
                                        </label>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm", placeholder = "Confirm Password", id = "ConfirmPassword" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                                <i class="ace-icon fa fa-repeat"></i></span>
                                        </label>
                                        <div class="space">
                                        </div>
                                        @Html.ValidationSummary(false, "", new { @class = "red bigger" })
                                        <div class="clearfix">
                                            <button type="submit" class="width-42 pull-right btn btn-sm btn-danger" id="btnChangePassword" value="Change Password" onclick="ChangePassword();return false;">
                                                <i class="ace-icon fa fa-lightbulb-o"></i><span class="bigger-110">Confirm Password</span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.widget-main -->
                                    <div class="toolbar center">
                                        <a href="/Home/NewHome" class="back-to-login-link">
                                            <i class="ace-icon fa fa-university"></i>&nbsp Back to Home</a>
                                    </div>
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.forgot-box -->
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>

</body>





