@{
    ViewBag.Title = "UserCreation";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script type="text/javascript">
    try { ace.settings.check('main-container', 'fixed') } catch (e) { }
</script>
@using (Html.BeginForm("UserCreation", "Account", FormMethod.Post))
{
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <span>@Html.Raw(ViewBag.BreadCrumb)</span>
            <div class="row">
                <div class="col-xs-12 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="ace-icon fa fa-search"></i>&nbsp;Search Pannel</div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                    <div class="col-xs-12">
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                Campus</label>
                                            @Html.DropDownList("Campus", new SelectList(ViewBag.campusddl, "Name", "Name"), "Select One", new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                Grade</label>
                                            @Html.DropDownList("Grade", new SelectList(ViewBag.gradeddl, "gradcod", "gradcod"), "Select One", new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                Section</label>
                                            @Html.DropDownList("Section", new SelectList(ViewBag.sectionddl, "Section", "Section"), "Select One", new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                Is Hosteller</label>
                                            @Html.DropDownList("IsHosteller", new SelectList(new[] { 
                        new { Value = "Select", Text = ""},
                        new { Value = "Yes", Text = "Yes"},
                        new { Value = "No", Text = "No"},
               }, "Text", "Value", ""), new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                Academic Year</label>
                                            @Html.DropDownList("AcademicYear", new SelectList(ViewBag.acadddl, "AcademicYear", "AcademicYear"), "Select", new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-1">
                                            <br />
                                            <button class="btn btn-primary btn-info btn-block btn-sm" type="button" id="btnSearch">
                                                <i class="ace-icon fa fa-search white"></i>Search
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <br />
                                            <button class="btn btn-danger btn-warning btn-block btn-sm" type="reset" id="btnReset">
                                                <i class="ace-icon fa fa-undo white"></i>Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px; margin-left: 3px; margin-bottom: 5px;">
                                    <div class="col-xs-12">
                                        <div class="col-sm-2">
                                            <label for="form-field-select-1">
                                                User Type to Create</label>
                                            @Html.DropDownList("UserType", new SelectList(new[] { 
                        new { Value = "Select", Text = "" },
                        new { Value = "Student", Text = "Student" },
                        new { Value = "Parent", Text = "Parent"},
               }, "Text", "Value", ""), new { @Class = "form-control select-sm" })
                                        </div>
                                        <div class="col-sm-2">
                                            <br />
                                            <button class="btn btn-primary btn-info btn-block btn-sm" type="button" id="btnCreate">
                                                <i class="ace-icon fa fa-users white"></i>Create User Ids
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-2">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table id="StudentManagementList">
                    </table>
                    <div id="StudentManagementListPager">
                    </div>
                    <script type="text/javascript">
                        var $path_base = ".."; //in Ace demo this will be used for editurl parameter
                    </script>
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
}
<script type="text/javascript">
    window.jQuery || document.write("<script src='../assets/js/jquery.min.js'>" + "<" + "/script>");
</script>
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<!-- inline scripts related to this page -->
<script src="../../Scripts/Account/UserCreation.js" type="text/javascript"></script>
<script type="text/javascript">

    function ShowYesOrNo(cellvalue, options, rowObject) {
        if (cellvalue == "True")
            return "Yes";
        else
            return "No";
    }
</script>
