@{
    ViewBag.Title = "ReportCardMainAction";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}
<h3>
    ReportCardMainAction</h3>
<script type="text/javascript" language="javascript">

    function GetCampus() {
        var ddlcam = $("#Campus");
        $.ajax({
            type: 'POST',
            async: true,
            dataType: "json",
            url: '@Url.Content("~/AchievementReport/FillCampusCode")',
            success: function (data) {
                ddlcam.empty();
                ddlcam.append("<option value=''> Select </option>");
                for (var i = 0; i < data.length; i++) {
                    ddlcam.append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");
                }
            },
            error: function (xhr, status, error) {
                ErrMsg($.parseJSON(xhr.responseText).Message);
            }
        });
    }

    $(function () {
        $('#RequestNo').css('ui-corner-all');
        GetCampus();


        function formateadorLink(cellvalue, options, rowObject) {
            
            if (rowObject[6] == 'I') {
                return "<a href=/AchievementReport/PYPFirstGrade?Id=" + rowObject[0] + ">" + cellvalue + "</a>";
            }
            return;
        }
        function formateadPDFLink(cellvalue, options, rowObject) {
            return "<span id='T2btnViewPdf_" + rowObject[0] + "'class='ui-icon ui-icon-document T2ViewPDF'  vId='" + rowObject[0] + "' vGrade='" + rowObject[6] + "' vSemester='" + rowObject[9] + "'title='View PDF'></span>";
        }
        function ViewPDF(pGrade, pSemester, pId) {
            //return window.location.href = '/AchievementReport/GenerateReportCardPDF?Grade=' + pGrade + '&Semester=' + pSemester + '&Id=' + pId;
            return window.location.href = '/AchievementReport/MYPReportCardPDFGen?&Id=' + pId;
        }

        $("#ReportCardList").jqGrid({
            mtype: 'GET',
            url: '/AchievementReport/JqGridRptCardMainAction',
            datatype: 'json',
            height: '150',
            width: '1225',
            shrinkToFit: true,
            colNames: ['Id', 'RequestNo', 'Campus Name', 'Id No', 'Name', 'Section', 'Grade', 'StudentId', 'Teacher Name', 'Semester'],
            colModel: [{ name: 'Id', index: 'Id', hidden: true, key: true }, //0
                          {name: 'RequestNo', index: 'RequestNo', formatter: formateadorLink }, //1
                          {name: 'Campus', index: 'Campus', sortable: false }, //2
                          {name: 'IdNo', index: 'IdNo', sortable: false }, //3
                          {name: 'Name', index: 'Name', sortable: false }, //4
                          {name: 'Section', index: 'Section', sortable: false }, //5
                          {name: 'Grade', index: 'Grade', sortable: false }, //6
                          {name: 'PreRegNum', index: 'PreRegNum', hidden: true }, //7
                          {name: 'TeacherName', index: 'TeacherName', hidden: true }, //8
                          {name: 'Semester', index: 'Semester', hidden: true }, //9
                        //  {name: 'pdfView', index: 'pdfView', width: '20%', formatter: formateadPDFLink}//10
                          ],
            pager: '#ReportCardPage',
            rowNum: '10',
            sortname: 'RequestNo',
            sortorder: 'asc',
            rowList: [5, 10, 20, 50, 100, 150, 200 ],
            //multiselect: true,
            viewrecords: true,
            gridComplete: function () {
                var rdata = $("#ReportCardList").getRowData();
                if (rdata.length > 0) {
                    $('.T2ViewPDF').click(function () { ViewPDF($(this).attr('vGrade'), $(this).attr('vSemester'), $(this).attr('vId')); });
                }
            }
        });
        $("#ReportCardList").navGrid('#ReportCardPage', { add: false, edit: false, del: false, search: false, refresh: false });

        $('#btnSearch').click(function () {
            
            if (!isEmptyorNull($('#RequestNo').val()) || !isEmptyorNull($('#Name').val()) ||
                $('#Campus option:selected').val() != 'Select' || $('#Section option:selected').val() != 'Select' ||
                $('#Grade option:selected').val() != 'Select' || $('#RptStatus option:selected').val() != 'Select') {
                $('#ReportCardList').clearGridData();
                LoadSetGridParam($('#ReportCardList'), "/AchievementReport/JqGridRptCardMainAction?RequestNo=" + $('#RequestNo').val() +
            '&Name=' + $('#Name').val() +
            '&Campus=' + $('#Campus option:selected').val() +
            '&Section=' + $('#Section option:selected').val() +
            '&Grade=' + $('#Grade option:selected').val() +
            '&RptStatus=' + $('#RptStatus option:selected').val()
            );
            } else {
                ErrMsg('Please enter or select any values', function () { $("#RequestNo").focus(); });
                return false;
            }
        });

        $('#btnReset').click(function () {
            $('#ReportCardList').clearGridData();
            $('#RequestNo').val('');
            $('#Name').val('');
            $('#Campus').val('');
            $('#Section').val('Select');
            $('#Grade').val('Select');
            $('#RptStatus').val('Select');
            LoadSetGridParam($('#ReportCardList'), "/AchievementReport/JqGridRptCardMainAction?page=1");
        });
        $('#btnNewReport').click(function () {

//            var grade = $('#Grade option:selected').val();

//            if (grade == 'Select') {
//                InfoMsg('Please fill the Grade');
//                return false;
//            }
//            if (grade == 'I') {
                window.location.href = '@Url.Action("PYPFirstGrade", "AchievementReport")';
           // }
           // if (grade == 'II') {
             //   window.location.href = 'Url.Action("PYPSecondGrade", "AchievementReport")';
           // }
        });



    });
    
    
    
    
</script>
<table width="100%" class="WithBorderOnly" id="ReportCardInbox">
    <tr style="background-color: #B6B6B6; height: 25px; color: White;">
        <td colspan="7">
            Search Panel
        </td>
    </tr>
    <tr>
        <td width="15%">
            Request No
        </td>
        <td width="15%">
            Campus Name
        </td>
        <td width="15%">
            Name
        </td>
        <td width="8%">
            Section
        </td>
        <td width="8%">
            Grade
        </td>
        <td width="9%">
            Status
        </td>
        <td width="30%">
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBox("RequestNo", null, new { @Class = "CSSTextBox", style = "width: 80%" })
        </td>
        <td>
            @Html.DropDownList("Campus", new SelectList(Enumerable.Empty<SelectListItem>()), "----Select----", new { @Class = "CSSDropDownList", style = "width:145px;" })
        </td>
        <td>
            @Html.TextBox("Name", null, new { @Class = "CSSTextBox", style = "width: 80%" })
        </td>
        <td>
            @Html.DropDownList("Section", new SelectList(new[] { 
                        new { Text = "Select", Value = "Select", Seleced = "True" },
                        new { Text = "A", Value = "A", Seleced = "false" },
                        new { Text = "B", Value = "B", Seleced = "false" },
                        new { Text = "C", Value = "C", Seleced = "false" },
                        new { Text = "D", Value = "D", Seleced = "false" }
               }, "Text", "Value", "Seleced"), new { @Class = "CSSTextBox", style = "width: 80%" })
        </td>
        <td>
            @Html.DropDownList("Grade",
                    new SelectList(new[] { 
                        new { Text = "Select", Value = "Select", Seleced = "True" },
                        new { Text = "I", Value = "I", Seleced = "false" },
                        new { Text = "II", Value = "II", Seleced = "false" },
                        new { Text = "III", Value = "III", Seleced = "false" },
                        new { Text = "IV", Value = "IV", Seleced = "false" },
                        new { Text = "V", Value = "V", Seleced = "false" }
               }, "Text", "Value", "Seleced"),
        new { @Class = "CSSDropDownList", style = "width: 80%" })
        </td>
        <td>
            @Html.DropDownList("RptStatus", new SelectList(new[] { 
                        new { Text = "Open", Value = "WIP", Seleced = "true" },
                        new { Text = "Closed", Value = "Closed", Seleced = "false" }
               }, "Text", "Value", "Seleced"), new { @Class = "CSSTextBox", style = "width: 80%" })
        </td>
        <td align="center">
            <input type="button" id="btnSearch" value="Search" name="Search" />&nbsp
            <input type="button" id="btnReset" value="Reset" name="Reset" />&nbsp
            <input type="button" id="btnNewReport" value="New Report" name="Reset" />&nbsp @* <input type="button" id="btnRptFocus" value="Focus Master" name="Reset" />&nbsp*@
            &nbsp
            @Html.Hidden("lgdUserId", "", new { @Value = ViewBag.lgdUserId })
            @Html.Hidden("lgdUserName", "", new { @Value = ViewBag.lgdUserName })
            @Html.Hidden("lgdInUserType", "", new { @Value = ViewBag.lgdInUserType })
        </td>
    </tr>
</table>
<table width="100%" class="WithBorderOnly" id="ReportCardInboxresult">
    <tr style="background-color: #B6B6B6; height: 25px; color: White;">
        <td colspan="5">
            Search Panel
        </td>
    </tr>
    <tr>
        <td>
            <table id="ReportCardList">
            </table>
            <div id="ReportCardPage">
            </div>
        </td>
    </tr>
</table>
