@{
    ViewBag.Title = "Report Card Inbox";
    Layout = "~/Views/Shared/NewAceMaster.cshtml";
}
@using (Html.BeginForm("ReportCardInbox", "AchievementReport", FormMethod.Post, new { id = "innerForm", enctype = "multipart/form-data" }))
{
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <span>@Html.Raw(ViewBag.BreadCrumb)</span>
            <div class="row">
                <div class="col-xs-12 widget-container-col">
                    <div class="widget-box widget-color-CustomizeBlue">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <div class="PanelHeader">
                                <i class="ace-icon fa fa-search"></i>&nbsp;Search Panel</div>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#"><i class="1 ace-icon fa fa-chevron-down fa-6x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main no-padding">
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Request No</b></label>
                                                @Html.TextBox("RequestNo", null, new { @Class = "form-control input-sm" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Campus Name</b></label>
                                                @Html.DropDownList("Campus", new SelectList(Enumerable.Empty<SelectListItem>()), "----Select----", new { @Class = "form-control select-sm" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Name</b></label>
                                                @Html.TextBox("Name", null, new { @Class = "form-control input-sm" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Section</b></label>
                                                @Html.DropDownList("Section", new SelectList(new[] { 
                        new { Text = "Select", Value = "Select", Seleced = "True" },
                        new { Text = "A", Value = "A", Seleced = "false" },
                        new { Text = "B", Value = "B", Seleced = "false" },
                        new { Text = "C", Value = "C", Seleced = "false" },
                        new { Text = "D", Value = "D", Seleced = "false" }
               }, "Text", "Value", "Seleced"), new { @Class = "form-control select-sm" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Grade</b></label>
                                                @Html.DropDownList("Grade",
                    new SelectList(new[] { 
                        new { Text = "Select", Value = "Select", Seleced = "True" },
                        new { Text = "VI", Value = "VI", Seleced = "false" },
                        new { Text = "VII", Value = "VII", Seleced = "false" },
                        new { Text = "VIII", Value = "VIII", Seleced = "false" },
                        new { Text = "IX", Value = "IX", Seleced = "false" },
                        new { Text = "X", Value = "X", Seleced = "false" }
               }, "Text", "Value", "Seleced"),
        new { @Class = "form-control select-sm" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Status</b></label>
                                                @Html.DropDownList("RptStatus", new SelectList(new[] { 
                        new { Text = "Open", Value = "WIP", Seleced = "true" },
                        new { Text = "Closed", Value = "Closed", Seleced = "false" }
               }, "Text", "Value", "Seleced"), new { @Class = "form-control select-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Semester</b></label>
                                                @Html.DropDownList("Semester",
                    new SelectList(new[] { 
                         new { Text = "", Value = "Select", Seleced = "True" },
                        new { Text = "1", Value = "Sem I", Seleced = "True" },
                        new { Text = "2", Value = "Sem II", Seleced = "false" }
                    
               }, "Text", "Value", "Seleced"),
new { @Class = "form-control select-sm" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="form-field-select-1">
                                                    <b>Academic Year</b></label>
                                                @Html.DropDownList("AcademicYear", new SelectList(ViewBag.acadddl, "AcademicYear", "AcademicYear"), "Select", new { id = "academicyear", @Class = "form-control select-sm" })
                                            </div>
                                            <div class="space-10">
                                            </div>
                                            <div class="col-sm-1"><center>
                                                <button class="btn btn-success btn-block btn-sm" id="btnSearch" value="Search" name="Search"
                                                    type="button">
                                                    <i class="ace-icon fa fa-search white"></i>Search</button></center></div>
                                            &nbsp;
                                            <div class="col-sm-1"><center>
                                                <button class="btn btn-danger btn-block btn-sm" id="btnReset" value="Reset" name="Reset"
                                                    type="button">
                                                    <i class="ace-icon fa fa-undo white"></i>&nbsp;Reset
                                                </button></center>
                                            </div>
                                            &nbsp;
                                            <div class="col-sm-2">
                                                
                                                    <button type="button" id="btnNewReport" value="New Report" name="New Report" class="btn btn-purple btn-block btn-sm">
                                                        &nbsp <i class="fa fa-plus-square"></i>&nbsp;New Report
                                                    </button>
                                                
                                            </div>
                                            &nbsp;
                                            <div class="col-sm-2">
                                                
                                                    <button type="button" id="btnRptFocus" value="Focus Master" name="Reset" class="btn btn-primary btn-block btn-sm">
                                                        &nbsp &nbsp <i class="fa fa-book white"></i>&nbsp;Focus Master
                                                    </button>
                                                
                                                @Html.Hidden("lgdUserId", "", new { @Value = ViewBag.lgdUserId })
                                                @Html.Hidden("lgdUserName", "", new { @Value = ViewBag.lgdUserName })
                                                @Html.Hidden("lgdInUserType", "", new { @Value = ViewBag.lgdInUserType })
                                                @Html.Hidden("SrchSessionvalue", "", new { @Value = Session["RptCardMYPSearched"] })
                                            </div>
                                            <div class="col-sm-2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-2">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table id="ReportCardList">
                    </table>
                    <div id="ReportCardPage">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="@Url.Content("/Scripts/Assess360/ReportCardInbox.js")" type="text/javascript"></script>
